<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>V</key>
      <integer>-18</integer>
      <key>public.kern2.T_UC</key>
      <real>-20.25</real>
      <key>public.kern2.Y_UC</key>
      <real>-41.25</real>
      <key>public.kern2.emdash</key>
      <integer>15</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>a</key>
      <real>-25.5</real>
      <key>aacute</key>
      <real>-25.5</real>
      <key>abreve</key>
      <real>-25.5</real>
      <key>abreveacute</key>
      <real>-25.5</real>
      <key>abrevedotbelow</key>
      <real>-25.5</real>
      <key>abrevegrave</key>
      <real>-25.5</real>
      <key>abrevehookabove</key>
      <real>-25.5</real>
      <key>abrevetilde</key>
      <real>-25.5</real>
      <key>acircumflex</key>
      <real>-25.5</real>
      <key>acircumflexacute</key>
      <real>-25.5</real>
      <key>acircumflexdotbelow</key>
      <real>-25.5</real>
      <key>acircumflexgrave</key>
      <real>-25.5</real>
      <key>acircumflexhookabove</key>
      <real>-25.5</real>
      <key>acircumflextilde</key>
      <real>-25.5</real>
      <key>adblgrave</key>
      <real>-25.5</real>
      <key>adieresis</key>
      <real>-25.5</real>
      <key>adotbelow</key>
      <real>-25.5</real>
      <key>agrave</key>
      <real>-25.5</real>
      <key>ahookabove</key>
      <real>-25.5</real>
      <key>ainvertedbreve</key>
      <real>-25.5</real>
      <key>amacron</key>
      <real>-25.5</real>
      <key>aogonek</key>
      <real>-25.5</real>
      <key>aring</key>
      <real>-25.5</real>
      <key>aringacute</key>
      <real>-25.5</real>
      <key>asterisk</key>
      <integer>15</integer>
      <key>at</key>
      <integer>-15</integer>
      <key>atilde</key>
      <real>-25.5</real>
      <key>backslash</key>
      <real>82.5</real>
      <key>o</key>
      <real>-15.75</real>
      <key>oacute</key>
      <real>-15.75</real>
      <key>obreve</key>
      <real>-15.75</real>
      <key>ocircumflex</key>
      <real>-15.75</real>
      <key>ocircumflexacute</key>
      <real>-15.75</real>
      <key>ocircumflexdotbelow</key>
      <real>-15.75</real>
      <key>ocircumflexgrave</key>
      <real>-15.75</real>
      <key>ocircumflexhookabove</key>
      <real>-15.75</real>
      <key>ocircumflextilde</key>
      <real>-15.75</real>
      <key>odblgrave</key>
      <real>-15.75</real>
      <key>odieresis</key>
      <real>-15.75</real>
      <key>odieresismacron</key>
      <real>-15.75</real>
      <key>odotaccentmacron</key>
      <real>-15.75</real>
      <key>odotbelow</key>
      <real>-15.75</real>
      <key>ograve</key>
      <real>-15.75</real>
      <key>ohookabove</key>
      <real>-15.75</real>
      <key>ohorntilde</key>
      <real>-15.75</real>
      <key>ohungarumlaut</key>
      <real>-15.75</real>
      <key>oinvertedbreve</key>
      <real>-15.75</real>
      <key>omacron</key>
      <real>-15.75</real>
      <key>oogonek</key>
      <real>-15.75</real>
      <key>otilde</key>
      <real>-15.75</real>
      <key>otildemacron</key>
      <real>-15.75</real>
      <key>public.kern2.A_UC</key>
      <real>-127.5</real>
      <key>public.kern2.J_UC</key>
      <integer>-138</integer>
      <key>public.kern2.T_UC</key>
      <integer>15</integer>
      <key>public.kern2.alpha</key>
      <real>-15.75</real>
      <key>public.kern2.colon</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-138</integer>
      <key>public.kern2.gamma</key>
      <integer>-18</integer>
      <key>public.kern2.minute</key>
      <integer>45</integer>
      <key>public.kern2.mnpr_LC</key>
      <real>-19.5</real>
      <key>public.kern2.u_LC</key>
      <real>-16.5</real>
      <key>slash</key>
      <real>-37.5</real>
    </dict>
    <key>Lslash</key>
    <dict>
      <key>ampersand</key>
      <integer>-15</integer>
      <key>asterisk</key>
      <integer>-75</integer>
      <key>backslash</key>
      <real>-82.5</real>
      <key>public.kern2.minute</key>
      <integer>-60</integer>
      <key>slash</key>
      <real>67.5</real>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <real>-23.25</real>
      <key>ampersand</key>
      <integer>-15</integer>
      <key>asterisk</key>
      <real>37.5</real>
      <key>at</key>
      <integer>-15</integer>
      <key>backslash</key>
      <integer>45</integer>
      <key>public.kern2.AE_UC</key>
      <real>-72.75</real>
      <key>public.kern2.A_UC</key>
      <real>-84.75</real>
      <key>public.kern2.J_UC</key>
      <real>-127.5</real>
      <key>public.kern2.Z_UC</key>
      <real>-19.5</real>
      <key>public.kern2.a_LC</key>
      <real>-8.25</real>
      <key>public.kern2.alpha</key>
      <real>-9.75</real>
      <key>public.kern2.comma</key>
      <real>-205.5</real>
      <key>public.kern2.emdash</key>
      <integer>15</integer>
      <key>public.kern2.gamma</key>
      <real>11.25</real>
      <key>public.kern2.minute</key>
      <integer>45</integer>
      <key>public.kern2.o_LC</key>
      <real>-9.75</real>
      <key>public.kern2.t_LC</key>
      <real>10.5</real>
      <key>slash</key>
      <real>-52.5</real>
    </dict>
    <key>Q</key>
    <dict>
      <key>V</key>
      <integer>-21</integer>
      <key>Y</key>
      <real>-26.25</real>
      <key>Yacute</key>
      <real>-26.25</real>
      <key>Ycircumflex</key>
      <real>-26.25</real>
      <key>Ydieresis</key>
      <real>-26.25</real>
      <key>Ydotbelow</key>
      <real>-26.25</real>
      <key>Ygrave</key>
      <real>-26.25</real>
      <key>Yhookabove</key>
      <real>-26.25</real>
      <key>Ytilde</key>
      <real>-26.25</real>
      <key>public.kern2.T_UC</key>
      <real>-32.25</real>
      <key>public.kern2.W_UC</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <real>-37.5</real>
      <key>public.kern2.emdash</key>
      <real>22.5</real>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>asterisk</key>
      <integer>30</integer>
      <key>at</key>
      <real>22.5</real>
      <key>public.kern2.comma</key>
      <real>-82.5</real>
      <key>public.kern2.emdash</key>
      <real>52.5</real>
    </dict>
    <key>V</key>
    <dict>
      <key>ampersand</key>
      <real>-37.5</real>
      <key>asterisk</key>
      <integer>15</integer>
      <key>at</key>
      <real>-67.5</real>
      <key>backslash</key>
      <real>112.5</real>
      <key>public.kern2.A_UC</key>
      <real>-56.25</real>
      <key>public.kern2.CG_UC</key>
      <real>-9.75</real>
      <key>public.kern2.J_UC</key>
      <real>-56.25</real>
      <key>public.kern2.Y_UC</key>
      <integer>30</integer>
      <key>public.kern2.a_LC</key>
      <real>-34.5</real>
      <key>public.kern2.alpha</key>
      <integer>-33</integer>
      <key>public.kern2.colon</key>
      <real>-37.5</real>
      <key>public.kern2.comma</key>
      <integer>-150</integer>
      <key>public.kern2.emdash</key>
      <real>-27.75</real>
      <key>public.kern2.gamma</key>
      <real>-8.25</real>
      <key>public.kern2.minute</key>
      <integer>45</integer>
      <key>public.kern2.mnpr_LC</key>
      <real>-22.5</real>
      <key>public.kern2.o_LC</key>
      <real>-34.5</real>
      <key>public.kern2.parens</key>
      <integer>15</integer>
      <key>public.kern2.u_LC</key>
      <integer>-21</integer>
      <key>slash</key>
      <real>-67.5</real>
    </dict>
    <key>X</key>
    <dict>
      <key>V</key>
      <real>10.5</real>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <real>-22.5</real>
      <key>backslash</key>
      <integer>75</integer>
      <key>public.kern2.CG_UC</key>
      <real>-18.75</real>
      <key>public.kern2.alpha</key>
      <real>-19.5</real>
      <key>public.kern2.emdash</key>
      <real>-37.5</real>
      <key>public.kern2.gamma</key>
      <real>-23.25</real>
      <key>public.kern2.o_LC</key>
      <real>-15.75</real>
      <key>public.kern2.u_LC</key>
      <real>-15.75</real>
      <key>slash</key>
      <real>67.5</real>
    </dict>
    <key>Y</key>
    <dict>
      <key>bullet</key>
      <real>-33.75</real>
    </dict>
    <key>Yacute</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <real>-36.75</real>
      <key>bullet</key>
      <real>-33.75</real>
    </dict>
    <key>Ycircumflex</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <real>-36.75</real>
      <key>bullet</key>
      <real>-33.75</real>
    </dict>
    <key>Ydieresis</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <real>-36.75</real>
      <key>bullet</key>
      <real>-33.75</real>
    </dict>
    <key>Ydotbelow</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <real>-36.75</real>
      <key>bullet</key>
      <real>-33.75</real>
    </dict>
    <key>Ygrave</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <real>-36.75</real>
      <key>bullet</key>
      <real>-33.75</real>
    </dict>
    <key>Yhookabove</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <real>-36.75</real>
      <key>bullet</key>
      <real>-33.75</real>
    </dict>
    <key>Ytilde</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <real>-36.75</real>
      <key>bullet</key>
      <real>-33.75</real>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>Eth</key>
      <integer>30</integer>
      <key>Lslash</key>
      <integer>30</integer>
      <key>V</key>
      <real>-67.5</real>
      <key>X</key>
      <integer>15</integer>
      <key>lslash</key>
      <integer>30</integer>
      <key>public.kern2.A_UC</key>
      <real>37.5</real>
      <key>public.kern2.J_UC</key>
      <real>37.5</real>
      <key>public.kern2.T_UC</key>
      <real>-97.5</real>
      <key>public.kern2.U_UC</key>
      <integer>-15</integer>
      <key>public.kern2.W_UC</key>
      <integer>-60</integer>
      <key>public.kern2.Y_UC</key>
      <real>-112.5</real>
      <key>public.kern2.f_LC</key>
      <integer>-15</integer>
      <key>public.kern2.gamma</key>
      <real>-22.5</real>
      <key>public.kern2.w_LC</key>
      <real>-22.5</real>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>V</key>
      <integer>15</integer>
      <key>X</key>
      <real>-22.5</real>
      <key>eth</key>
      <real>-22.5</real>
      <key>public.kern2.A_UC</key>
      <integer>-75</integer>
      <key>public.kern2.J_UC</key>
      <integer>-75</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-15</integer>
      <key>public.kern2.a_LC</key>
      <real>-22.5</real>
      <key>public.kern2.alpha</key>
      <integer>-15</integer>
      <key>public.kern2.f_LC</key>
      <integer>45</integer>
      <key>public.kern2.gamma</key>
      <integer>60</integer>
      <key>public.kern2.o_LC</key>
      <integer>-15</integer>
      <key>public.kern2.s_LC</key>
      <real>-7.5</real>
      <key>public.kern2.t_LC</key>
      <real>52.5</real>
      <key>public.kern2.w_LC</key>
      <integer>45</integer>
      <key>public.kern2.z_LC</key>
      <real>22.5</real>
      <key>x</key>
      <real>22.5</real>
    </dict>
    <key>at</key>
    <dict>
      <key>Eth</key>
      <real>22.5</real>
      <key>Lslash</key>
      <integer>15</integer>
      <key>V</key>
      <real>-37.5</real>
      <key>X</key>
      <real>-37.5</real>
      <key>lslash</key>
      <integer>15</integer>
      <key>public.kern2.J_UC</key>
      <integer>30</integer>
      <key>public.kern2.T_UC</key>
      <real>-52.5</real>
      <key>public.kern2.W_UC</key>
      <integer>-15</integer>
      <key>public.kern2.Y_UC</key>
      <real>-82.5</real>
    </dict>
    <key>backslash</key>
    <dict>
      <key>V</key>
      <real>-67.5</real>
      <key>X</key>
      <real>67.5</real>
      <key>public.kern2.A_UC</key>
      <integer>90</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-30</integer>
      <key>public.kern2.J_UC</key>
      <real>52.5</real>
      <key>public.kern2.T_UC</key>
      <real>-97.5</real>
      <key>public.kern2.U_UC</key>
      <real>-22.5</real>
      <key>public.kern2.W_UC</key>
      <integer>-15</integer>
      <key>public.kern2.Y_UC</key>
      <real>-82.5</real>
      <key>public.kern2.Z_UC</key>
      <integer>60</integer>
      <key>public.kern2.o_LC</key>
      <integer>-15</integer>
      <key>public.kern2.z_LC</key>
      <real>67.5</real>
      <key>thorn</key>
      <integer>45</integer>
      <key>x</key>
      <integer>75</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>eacute</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ebreve</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ecaron</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ecircumflex</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ecircumflexacute</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ecircumflexdotbelow</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ecircumflexgrave</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ecircumflexhookabove</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ecircumflextilde</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>edieresis</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>edotaccent</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>edotbelow</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>egrave</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ehookabove</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ellipsis</key>
    <dict>
      <key>j</key>
      <integer>0</integer>
    </dict>
    <key>emacron</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>eogonek</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>eth</key>
    <dict>
      <key>public.kern2.comma</key>
      <real>-22.5</real>
      <key>public.kern2.emdash</key>
      <real>37.5</real>
    </dict>
    <key>etilde</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>g</key>
    <dict>
      <key>backslash</key>
      <real>-67.5</real>
    </dict>
    <key>h</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>hcircumflex</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>lslash</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <real>7.5</real>
      <key>at</key>
      <integer>-15</integer>
      <key>public.kern2.minute</key>
      <integer>30</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>n</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>nacute</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>napostrophe</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ncaron</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ncommaaccent</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>ntilde</key>
    <dict>
      <key>quoteright</key>
      <integer>-60</integer>
    </dict>
    <key>period</key>
    <dict>
      <key>j</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.A_UC</key>
    <dict>
      <key>V</key>
      <real>-65.25</real>
      <key>asterisk</key>
      <integer>-75</integer>
      <key>at</key>
      <integer>45</integer>
      <key>backslash</key>
      <integer>-45</integer>
      <key>public.kern2.CG_UC</key>
      <real>-8.25</real>
      <key>public.kern2.J_UC</key>
      <real>67.5</real>
      <key>public.kern2.T_UC</key>
      <real>-96.75</real>
      <key>public.kern2.U_UC</key>
      <real>-12.75</real>
      <key>public.kern2.W_UC</key>
      <real>-51.75</real>
      <key>public.kern2.Y_UC</key>
      <real>-70.5</real>
      <key>public.kern2.colon</key>
      <integer>15</integer>
      <key>public.kern2.comma</key>
      <real>37.5</real>
      <key>public.kern2.gamma</key>
      <real>-37.5</real>
      <key>public.kern2.minute</key>
      <integer>-75</integer>
      <key>public.kern2.o_LC</key>
      <integer>-9</integer>
      <key>public.kern2.t_LC</key>
      <real>-12.75</real>
      <key>public.kern2.u_LC</key>
      <real>-8.25</real>
      <key>public.kern2.w_LC</key>
      <real>-24.75</real>
      <key>public.kern2.z_LC</key>
      <integer>9</integer>
      <key>question</key>
      <real>-45.75</real>
      <key>slash</key>
      <integer>90</integer>
    </dict>
    <key>public.kern1.C_UC</key>
    <dict>
      <key>V</key>
      <real>-7.5</real>
      <key>asterisk</key>
      <integer>15</integer>
      <key>backslash</key>
      <integer>30</integer>
      <key>public.kern2.J_UC</key>
      <integer>15</integer>
      <key>public.kern2.T_UC</key>
      <real>7.5</real>
      <key>public.kern2.W_UC</key>
      <real>-7.5</real>
      <key>public.kern2.emdash</key>
      <real>22.5</real>
      <key>public.kern2.minute</key>
      <integer>30</integer>
      <key>public.kern2.parens</key>
      <integer>-9</integer>
    </dict>
    <key>public.kern1.D_UC</key>
    <dict>
      <key>V</key>
      <real>-16.5</real>
      <key>X</key>
      <real>-16.5</real>
      <key>public.kern2.AE_UC</key>
      <real>-24.75</real>
      <key>public.kern2.A_UC</key>
      <real>-15.75</real>
      <key>public.kern2.T_UC</key>
      <real>-20.25</real>
      <key>public.kern2.Y_UC</key>
      <real>-56.25</real>
      <key>public.kern2.Z_UC</key>
      <real>-17.25</real>
      <key>public.kern2.colon</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <integer>-60</integer>
      <key>public.kern2.emdash</key>
      <real>22.5</real>
      <key>slash</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.E_UC</key>
    <dict>
      <key>at</key>
      <real>37.5</real>
      <key>backslash</key>
      <integer>75</integer>
      <key>public.kern2.T_UC</key>
      <integer>15</integer>
      <key>public.kern2.alpha</key>
      <real>-14.25</real>
      <key>public.kern2.emdash</key>
      <real>22.5</real>
      <key>public.kern2.f_LC</key>
      <real>-13.5</real>
      <key>public.kern2.gamma</key>
      <real>-19.5</real>
      <key>public.kern2.minute</key>
      <integer>30</integer>
      <key>public.kern2.o_LC</key>
      <real>-14.25</real>
      <key>public.kern2.u_LC</key>
      <real>-12.75</real>
      <key>public.kern2.w_LC</key>
      <real>-16.5</real>
      <key>slash</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.G_UC</key>
    <dict>
      <key>public.kern2.emdash</key>
      <real>22.5</real>
      <key>slash</key>
      <integer>15</integer>
    </dict>
    <key>public.kern1.JU_UC</key>
    <dict>
      <key>ampersand</key>
      <integer>-15</integer>
      <key>at</key>
      <real>-7.5</real>
      <key>backslash</key>
      <integer>30</integer>
      <key>public.kern2.A_UC</key>
      <real>-16.5</real>
      <key>public.kern2.colon</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <real>-22.5</real>
      <key>public.kern2.emdash</key>
      <real>7.5</real>
      <key>slash</key>
      <real>-22.5</real>
    </dict>
    <key>public.kern1.K_UC</key>
    <dict>
      <key>backslash</key>
      <integer>90</integer>
      <key>public.kern2.CG_UC</key>
      <real>-23.25</real>
      <key>public.kern2.alpha</key>
      <real>-19.5</real>
      <key>public.kern2.comma</key>
      <integer>60</integer>
      <key>public.kern2.emdash</key>
      <integer>-48</integer>
      <key>public.kern2.gamma</key>
      <integer>-30</integer>
      <key>public.kern2.minute</key>
      <real>37.5</real>
      <key>public.kern2.mnpr_LC</key>
      <real>-17.25</real>
      <key>public.kern2.o_LC</key>
      <real>-20.25</real>
      <key>public.kern2.u_LC</key>
      <real>-17.25</real>
      <key>public.kern2.w_LC</key>
      <real>-47.25</real>
      <key>slash</key>
      <integer>105</integer>
    </dict>
    <key>public.kern1.L_UC</key>
    <dict>
      <key>V</key>
      <real>-101.25</real>
      <key>ampersand</key>
      <integer>-15</integer>
      <key>asterisk</key>
      <integer>-90</integer>
      <key>at</key>
      <real>22.5</real>
      <key>backslash</key>
      <integer>-75</integer>
      <key>public.kern2.A_UC</key>
      <real>14.25</real>
      <key>public.kern2.CG_UC</key>
      <real>-48.75</real>
      <key>public.kern2.T_UC</key>
      <real>-108.75</real>
      <key>public.kern2.U_UC</key>
      <real>-40.5</real>
      <key>public.kern2.W_UC</key>
      <real>-84.75</real>
      <key>public.kern2.Y_UC</key>
      <real>-141.75</real>
      <key>public.kern2.comma</key>
      <integer>30</integer>
      <key>public.kern2.gamma</key>
      <real>-99.75</real>
      <key>public.kern2.minute</key>
      <real>-154.5</real>
      <key>public.kern2.u_LC</key>
      <integer>-33</integer>
      <key>public.kern2.w_LC</key>
      <integer>-69</integer>
      <key>slash</key>
      <real>52.5</real>
    </dict>
    <key>public.kern1.LeftStraight_UC</key>
    <dict>
      <key>X</key>
      <real>12.75</real>
      <key>public.kern2.A_UC</key>
      <real>13.5</real>
      <key>public.kern2.T_UC</key>
      <real>-21.75</real>
      <key>public.kern2.Y_UC</key>
      <integer>-21</integer>
    </dict>
    <key>public.kern1.R_UC</key>
    <dict>
      <key>V</key>
      <real>-14.25</real>
      <key>public.kern2.T_UC</key>
      <integer>-60</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-36</integer>
      <key>public.kern2.comma</key>
      <integer>45</integer>
      <key>public.kern2.emdash</key>
      <real>-22.5</real>
      <key>slash</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.S_UC</key>
    <dict>
      <key>backslash</key>
      <integer>15</integer>
      <key>public.kern2.emdash</key>
      <real>7.5</real>
    </dict>
    <key>public.kern1.T_UC</key>
    <dict>
      <key>V</key>
      <integer>12</integer>
      <key>ampersand</key>
      <integer>-45</integer>
      <key>at</key>
      <real>-52.5</real>
      <key>backslash</key>
      <integer>120</integer>
      <key>public.kern2.AE_UC</key>
      <real>-134.25</real>
      <key>public.kern2.A_UC</key>
      <real>-59.25</real>
      <key>public.kern2.CG_UC</key>
      <integer>-21</integer>
      <key>public.kern2.J_UC</key>
      <integer>-120</integer>
      <key>public.kern2.S_UC</key>
      <integer>-12</integer>
      <key>public.kern2.T_UC</key>
      <integer>12</integer>
      <key>public.kern2.W_UC</key>
      <real>11.25</real>
      <key>public.kern2.Y_UC</key>
      <integer>12</integer>
      <key>public.kern2.a_LC</key>
      <real>-116.25</real>
      <key>public.kern2.alpha</key>
      <real>-112.5</real>
      <key>public.kern2.colon</key>
      <real>-82.5</real>
      <key>public.kern2.comma</key>
      <integer>-135</integer>
      <key>public.kern2.emdash</key>
      <real>-142.5</real>
      <key>public.kern2.gamma</key>
      <real>-91.5</real>
      <key>public.kern2.guillemotleft</key>
      <integer>-246</integer>
      <key>public.kern2.guillemotright</key>
      <integer>-162</integer>
      <key>public.kern2.minute</key>
      <integer>45</integer>
      <key>public.kern2.mnpr_LC</key>
      <real>-112.5</real>
      <key>public.kern2.o_LC</key>
      <real>-112.5</real>
      <key>public.kern2.s_LC</key>
      <integer>-132</integer>
      <key>public.kern2.u_LC</key>
      <real>-101.25</real>
      <key>public.kern2.w_LC</key>
      <real>-102.75</real>
      <key>public.kern2.z_LC</key>
      <integer>-45</integer>
      <key>slash</key>
      <real>-97.5</real>
      <key>space</key>
      <integer>-30</integer>
      <key>x</key>
      <real>-57.75</real>
    </dict>
    <key>public.kern1.W_UC</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>at</key>
      <integer>-45</integer>
      <key>backslash</key>
      <integer>75</integer>
      <key>public.kern2.A_UC</key>
      <real>-32.25</real>
      <key>public.kern2.T_UC</key>
      <real>10.5</real>
      <key>public.kern2.a_LC</key>
      <real>-24.75</real>
      <key>public.kern2.alpha</key>
      <real>-23.25</real>
      <key>public.kern2.colon</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <real>-92.25</real>
      <key>public.kern2.emdash</key>
      <real>-37.5</real>
      <key>public.kern2.minute</key>
      <integer>30</integer>
      <key>public.kern2.mnpr_LC</key>
      <real>-15.75</real>
      <key>public.kern2.o_LC</key>
      <real>-23.25</real>
      <key>public.kern2.parens</key>
      <integer>9</integer>
      <key>public.kern2.u_LC</key>
      <real>-14.25</real>
      <key>slash</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.Y_UC</key>
    <dict>
      <key>V</key>
      <integer>30</integer>
      <key>X</key>
      <real>9.75</real>
      <key>ampersand</key>
      <integer>-75</integer>
      <key>asterisk</key>
      <integer>-15</integer>
      <key>at</key>
      <integer>-105</integer>
      <key>backslash</key>
      <real>112.5</real>
      <key>eth</key>
      <real>-67.5</real>
      <key>germandbls</key>
      <integer>-45</integer>
      <key>lslash</key>
      <integer>-30</integer>
      <key>public.kern2.AE_UC</key>
      <integer>-72</integer>
      <key>public.kern2.A_UC</key>
      <real>-70.5</real>
      <key>public.kern2.CG_UC</key>
      <real>-56.25</real>
      <key>public.kern2.J_UC</key>
      <integer>-117</integer>
      <key>public.kern2.S_UC</key>
      <integer>-12</integer>
      <key>public.kern2.T_UC</key>
      <real>12.75</real>
      <key>public.kern2.W_UC</key>
      <real>12.75</real>
      <key>public.kern2.Y_UC</key>
      <real>13.5</real>
      <key>public.kern2.a_LC</key>
      <real>-114.75</real>
      <key>public.kern2.alpha</key>
      <real>-108.75</real>
      <key>public.kern2.colon</key>
      <integer>-60</integer>
      <key>public.kern2.comma</key>
      <real>-158.25</real>
      <key>public.kern2.emdash</key>
      <real>-67.5</real>
      <key>public.kern2.f_LC</key>
      <real>-16.5</real>
      <key>public.kern2.gamma</key>
      <integer>-45</integer>
      <key>public.kern2.guillemotleft</key>
      <real>-61.5</real>
      <key>public.kern2.guillemotright</key>
      <real>-38.25</real>
      <key>public.kern2.minute</key>
      <real>37.5</real>
      <key>public.kern2.mnpr_LC</key>
      <real>-82.5</real>
      <key>public.kern2.o_LC</key>
      <real>-108.75</real>
      <key>public.kern2.parens</key>
      <integer>15</integer>
      <key>public.kern2.s_LC</key>
      <integer>-96</integer>
      <key>public.kern2.t_LC</key>
      <real>-16.5</real>
      <key>public.kern2.u_LC</key>
      <real>-74.25</real>
      <key>public.kern2.w_LC</key>
      <real>-52.5</real>
      <key>public.kern2.z_LC</key>
      <real>-52.5</real>
      <key>slash</key>
      <real>-82.5</real>
      <key>x</key>
      <real>-62.25</real>
    </dict>
    <key>public.kern1.Z_UC</key>
    <dict>
      <key>backslash</key>
      <integer>60</integer>
      <key>public.kern2.A_UC</key>
      <real>9.75</real>
      <key>public.kern2.CG_UC</key>
      <real>-19.5</real>
      <key>public.kern2.alpha</key>
      <real>-15.75</real>
      <key>public.kern2.comma</key>
      <integer>60</integer>
      <key>public.kern2.gamma</key>
      <real>-20.25</real>
      <key>public.kern2.minute</key>
      <real>22.5</real>
      <key>public.kern2.o_LC</key>
      <real>-15.75</real>
      <key>public.kern2.u_LC</key>
      <real>-14.25</real>
      <key>public.kern2.w_LC</key>
      <real>-20.25</real>
      <key>slash</key>
      <integer>60</integer>
    </dict>
    <key>public.kern1.a_LC</key>
    <dict>
      <key>backslash</key>
      <integer>-105</integer>
      <key>public.kern2.gamma</key>
      <real>-11.25</real>
      <key>public.kern2.minute</key>
      <real>-40.5</real>
    </dict>
    <key>public.kern1.b_LC</key>
    <dict>
      <key>asterisk</key>
      <integer>-15</integer>
      <key>backslash</key>
      <real>-67.5</real>
      <key>public.kern2.colon</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <integer>-15</integer>
      <key>public.kern2.emdash</key>
      <integer>30</integer>
      <key>public.kern2.gamma</key>
      <real>-8.25</real>
      <key>public.kern2.minute</key>
      <real>-21.75</real>
      <key>public.kern2.z_LC</key>
      <real>-11.25</real>
      <key>x</key>
      <real>-11.25</real>
    </dict>
    <key>public.kern1.c_LC</key>
    <dict>
      <key>V</key>
      <integer>-45</integer>
      <key>at</key>
      <real>22.5</real>
      <key>backslash</key>
      <integer>-45</integer>
      <key>public.kern2.A_UC</key>
      <integer>45</integer>
      <key>public.kern2.J_UC</key>
      <integer>30</integer>
      <key>public.kern2.T_UC</key>
      <integer>-135</integer>
      <key>public.kern2.U_UC</key>
      <real>22.5</real>
      <key>public.kern2.W_UC</key>
      <real>-22.5</real>
      <key>public.kern2.emdash</key>
      <real>37.5</real>
      <key>public.kern2.f_LC</key>
      <real>41.25</real>
      <key>public.kern2.minute</key>
      <real>-8.25</real>
      <key>slash</key>
      <real>22.5</real>
    </dict>
    <key>public.kern1.colon</key>
    <dict>
      <key>V</key>
      <real>-37.5</real>
      <key>public.kern2.A_UC</key>
      <integer>15</integer>
      <key>public.kern2.CG_UC</key>
      <integer>-15</integer>
      <key>public.kern2.T_UC</key>
      <real>-82.5</real>
      <key>public.kern2.U_UC</key>
      <integer>-15</integer>
      <key>public.kern2.W_UC</key>
      <integer>-30</integer>
      <key>public.kern2.Y_UC</key>
      <integer>-60</integer>
      <key>public.kern2.alpha</key>
      <integer>-15</integer>
      <key>public.kern2.o_LC</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.comma</key>
    <dict>
      <key>V</key>
      <integer>-150</integer>
      <key>eth</key>
      <integer>-15</integer>
      <key>j</key>
      <integer>45</integer>
      <key>public.kern2.A_UC</key>
      <real>37.5</real>
      <key>public.kern2.CG_UC</key>
      <integer>-60</integer>
      <key>public.kern2.J_UC</key>
      <real>22.5</real>
      <key>public.kern2.T_UC</key>
      <integer>-135</integer>
      <key>public.kern2.U_UC</key>
      <real>-22.5</real>
      <key>public.kern2.W_UC</key>
      <real>-92.25</real>
      <key>public.kern2.Y_UC</key>
      <real>-158.25</real>
      <key>public.kern2.Z_UC</key>
      <real>52.5</real>
      <key>public.kern2.alpha</key>
      <integer>-15</integer>
      <key>public.kern2.f_LC</key>
      <real>-22.5</real>
      <key>public.kern2.gamma</key>
      <real>-82.5</real>
      <key>public.kern2.minute</key>
      <real>-127.5</real>
      <key>public.kern2.o_LC</key>
      <integer>-15</integer>
      <key>public.kern2.t_LC</key>
      <real>-37.5</real>
      <key>public.kern2.u_LC</key>
      <real>-22.5</real>
      <key>public.kern2.w_LC</key>
      <integer>-93</integer>
      <key>x</key>
      <real>22.5</real>
    </dict>
    <key>public.kern1.e_LC</key>
    <dict>
      <key>V</key>
      <integer>-45</integer>
      <key>ampersand</key>
      <real>37.5</real>
      <key>at</key>
      <integer>15</integer>
      <key>backslash</key>
      <real>-52.5</real>
      <key>public.kern2.A_UC</key>
      <integer>45</integer>
      <key>public.kern2.CG_UC</key>
      <real>22.5</real>
      <key>public.kern2.J_UC</key>
      <real>52.5</real>
      <key>public.kern2.T_UC</key>
      <real>-112.5</real>
      <key>public.kern2.U_UC</key>
      <integer>30</integer>
      <key>public.kern2.W_UC</key>
      <integer>-30</integer>
      <key>public.kern2.Y_UC</key>
      <real>-93.75</real>
      <key>public.kern2.Z_UC</key>
      <real>22.5</real>
      <key>public.kern2.comma</key>
      <real>22.5</real>
      <key>public.kern2.emdash</key>
      <integer>60</integer>
      <key>public.kern2.gamma</key>
      <real>-9.75</real>
      <key>public.kern2.minute</key>
      <real>-10.5</real>
      <key>slash</key>
      <integer>45</integer>
    </dict>
    <key>public.kern1.emdash</key>
    <dict>
      <key>Eth</key>
      <real>67.5</real>
      <key>Lslash</key>
      <real>67.5</real>
      <key>V</key>
      <real>-27.75</real>
      <key>X</key>
      <real>-37.5</real>
      <key>eth</key>
      <real>22.5</real>
      <key>lslash</key>
      <real>52.5</real>
      <key>public.kern2.CG_UC</key>
      <real>22.5</real>
      <key>public.kern2.T_UC</key>
      <real>-142.5</real>
      <key>public.kern2.U_UC</key>
      <real>7.5</real>
      <key>public.kern2.W_UC</key>
      <real>-37.5</real>
      <key>public.kern2.Y_UC</key>
      <real>-67.5</real>
      <key>public.kern2.a_LC</key>
      <real>-7.5</real>
      <key>public.kern2.alpha</key>
      <integer>30</integer>
      <key>public.kern2.gamma</key>
      <integer>15</integer>
      <key>public.kern2.o_LC</key>
      <integer>30</integer>
      <key>public.kern2.t_LC</key>
      <integer>15</integer>
      <key>public.kern2.w_LC</key>
      <integer>15</integer>
      <key>x</key>
      <real>-22.5</real>
    </dict>
    <key>public.kern1.f_LC</key>
    <dict>
      <key>ampersand</key>
      <integer>30</integer>
      <key>asterisk</key>
      <integer>75</integer>
      <key>backslash</key>
      <integer>180</integer>
      <key>j</key>
      <real>67.5</real>
      <key>public.kern2.alpha</key>
      <integer>-18</integer>
      <key>public.kern2.bhk_LC</key>
      <integer>60</integer>
      <key>public.kern2.comma</key>
      <integer>-30</integer>
      <key>public.kern2.f_LC</key>
      <real>41.25</real>
      <key>public.kern2.gamma</key>
      <integer>90</integer>
      <key>public.kern2.i_LC</key>
      <real>67.5</real>
      <key>public.kern2.minute</key>
      <real>124.5</real>
      <key>public.kern2.parens</key>
      <integer>120</integer>
      <key>public.kern2.t_LC</key>
      <real>48.75</real>
      <key>public.kern2.w_LC</key>
      <real>71.25</real>
    </dict>
    <key>public.kern1.gamma</key>
    <dict>
      <key>ampersand</key>
      <integer>-15</integer>
      <key>asterisk</key>
      <integer>60</integer>
      <key>at</key>
      <real>-22.5</real>
      <key>backslash</key>
      <integer>15</integer>
      <key>public.kern2.a_LC</key>
      <real>-11.25</real>
      <key>public.kern2.alpha</key>
      <real>-9.75</real>
      <key>public.kern2.comma</key>
      <real>-82.5</real>
      <key>public.kern2.emdash</key>
      <integer>15</integer>
      <key>public.kern2.f_LC</key>
      <real>9.75</real>
      <key>public.kern2.minute</key>
      <integer>45</integer>
      <key>public.kern2.o_LC</key>
      <real>-11.25</real>
    </dict>
    <key>public.kern1.hmn_LC</key>
    <dict>
      <key>asterisk</key>
      <real>-7.5</real>
      <key>backslash</key>
      <integer>-105</integer>
      <key>public.kern2.minute</key>
      <real>-40.5</real>
    </dict>
    <key>public.kern1.k_LC</key>
    <dict>
      <key>ampersand</key>
      <integer>-15</integer>
      <key>asterisk</key>
      <real>22.5</real>
      <key>public.kern2.alpha</key>
      <integer>-15</integer>
      <key>public.kern2.colon</key>
      <real>37.5</real>
      <key>public.kern2.comma</key>
      <integer>60</integer>
      <key>public.kern2.emdash</key>
      <integer>-45</integer>
      <key>slash</key>
      <integer>90</integer>
    </dict>
    <key>public.kern1.minute</key>
    <dict>
      <key>Eth</key>
      <real>22.5</real>
      <key>V</key>
      <integer>45</integer>
      <key>eth</key>
      <integer>-30</integer>
      <key>lslash</key>
      <real>-22.5</real>
      <key>public.kern2.A_UC</key>
      <integer>-75</integer>
      <key>public.kern2.T_UC</key>
      <integer>45</integer>
      <key>public.kern2.W_UC</key>
      <integer>30</integer>
      <key>public.kern2.Y_UC</key>
      <real>37.5</real>
      <key>public.kern2.Z_UC</key>
      <real>37.5</real>
      <key>public.kern2.a_LC</key>
      <real>-37.5</real>
      <key>public.kern2.alpha</key>
      <real>-44.25</real>
      <key>public.kern2.f_LC</key>
      <real>37.5</real>
      <key>public.kern2.gamma</key>
      <integer>45</integer>
      <key>public.kern2.minute</key>
      <real>-80.25</real>
      <key>public.kern2.mnpr_LC</key>
      <integer>-15</integer>
      <key>public.kern2.o_LC</key>
      <integer>-42</integer>
      <key>public.kern2.s_LC</key>
      <real>-22.5</real>
      <key>public.kern2.t_LC</key>
      <real>37.5</real>
      <key>public.kern2.w_LC</key>
      <integer>45</integer>
      <key>public.kern2.z_LC</key>
      <real>22.5</real>
      <key>x</key>
      <real>22.5</real>
    </dict>
    <key>public.kern1.o_LC</key>
    <dict>
      <key>asterisk</key>
      <integer>-15</integer>
      <key>backslash</key>
      <integer>-90</integer>
      <key>public.kern2.colon</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <integer>-15</integer>
      <key>public.kern2.emdash</key>
      <integer>30</integer>
      <key>public.kern2.gamma</key>
      <real>-11.25</real>
      <key>public.kern2.minute</key>
      <integer>-42</integer>
      <key>public.kern2.z_LC</key>
      <integer>-12</integer>
      <key>slash</key>
      <integer>-15</integer>
      <key>x</key>
      <real>-15.75</real>
    </dict>
    <key>public.kern1.parens</key>
    <dict>
      <key>V</key>
      <integer>15</integer>
      <key>j</key>
      <integer>135</integer>
      <key>public.kern2.J_UC</key>
      <integer>-15</integer>
      <key>public.kern2.U_UC</key>
      <real>-13.5</real>
      <key>public.kern2.W_UC</key>
      <real>13.5</real>
      <key>public.kern2.Y_UC</key>
      <real>16.5</real>
      <key>public.kern2.gamma</key>
      <integer>45</integer>
    </dict>
    <key>public.kern1.r_LC</key>
    <dict>
      <key>ampersand</key>
      <real>-37.5</real>
      <key>asterisk</key>
      <real>37.5</real>
      <key>at</key>
      <integer>-15</integer>
      <key>public.kern2.a_LC</key>
      <integer>-30</integer>
      <key>public.kern2.alpha</key>
      <real>-14.25</real>
      <key>public.kern2.comma</key>
      <real>-92.25</real>
      <key>public.kern2.f_LC</key>
      <real>22.5</real>
      <key>public.kern2.gamma</key>
      <real>13.5</real>
      <key>public.kern2.minute</key>
      <real>49.5</real>
      <key>public.kern2.o_LC</key>
      <integer>-15</integer>
      <key>public.kern2.t_LC</key>
      <real>37.5</real>
      <key>public.kern2.w_LC</key>
      <real>12.75</real>
      <key>slash</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.s_LC</key>
    <dict>
      <key>asterisk</key>
      <real>-22.5</real>
      <key>backslash</key>
      <real>-97.5</real>
      <key>public.kern2.minute</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t_LC</key>
    <dict>
      <key>asterisk</key>
      <real>7.5</real>
      <key>public.kern2.comma</key>
      <real>22.5</real>
      <key>public.kern2.minute</key>
      <integer>15</integer>
      <key>public.kern2.o_LC</key>
      <integer>-15</integer>
      <key>slash</key>
      <real>67.5</real>
    </dict>
    <key>public.kern1.u_LC</key>
    <dict>
      <key>backslash</key>
      <integer>-75</integer>
      <key>public.kern2.T_UC</key>
      <real>-101.25</real>
    </dict>
    <key>public.kern1.w_LC</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>asterisk</key>
      <integer>45</integer>
      <key>public.kern2.comma</key>
      <integer>-93</integer>
      <key>public.kern2.emdash</key>
      <integer>15</integer>
      <key>public.kern2.minute</key>
      <integer>45</integer>
    </dict>
    <key>public.kern1.z_LC</key>
    <dict>
      <key>ampersand</key>
      <real>-22.5</real>
      <key>backslash</key>
      <integer>-30</integer>
      <key>public.kern2.alpha</key>
      <integer>-12</integer>
      <key>public.kern2.o_LC</key>
      <integer>-12</integer>
      <key>slash</key>
      <integer>45</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>backslash</key>
      <integer>-75</integer>
      <key>j</key>
      <integer>60</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>h</key>
      <integer>24</integer>
      <key>k</key>
      <integer>24</integer>
      <key>l</key>
      <integer>24</integer>
      <key>lj</key>
      <integer>24</integer>
      <key>o</key>
      <integer>-96</integer>
      <key>oacute</key>
      <integer>-96</integer>
      <key>obreve</key>
      <integer>-96</integer>
      <key>ocircumflex</key>
      <integer>-96</integer>
      <key>ocircumflexacute</key>
      <integer>-96</integer>
      <key>ocircumflexdotbelow</key>
      <integer>-96</integer>
      <key>ocircumflexgrave</key>
      <integer>-96</integer>
      <key>ocircumflexhookabove</key>
      <integer>-96</integer>
      <key>ocircumflextilde</key>
      <integer>-96</integer>
      <key>odblgrave</key>
      <integer>-96</integer>
      <key>odieresis</key>
      <integer>-96</integer>
      <key>odieresismacron</key>
      <integer>-96</integer>
      <key>odotaccentmacron</key>
      <integer>-96</integer>
      <key>odotbelow</key>
      <integer>-96</integer>
      <key>ograve</key>
      <integer>-96</integer>
      <key>ohookabove</key>
      <integer>-96</integer>
      <key>ohorntilde</key>
      <integer>-96</integer>
      <key>ohungarumlaut</key>
      <integer>-96</integer>
      <key>oinvertedbreve</key>
      <integer>-96</integer>
      <key>omacron</key>
      <integer>-96</integer>
      <key>oogonek</key>
      <integer>-96</integer>
      <key>otilde</key>
      <integer>-96</integer>
      <key>otildemacron</key>
      <integer>-96</integer>
      <key>public.kern2.s_LC</key>
      <integer>-84</integer>
    </dict>
    <key>schwa</key>
    <dict>
      <key>public.kern2.minute</key>
      <real>-10.5</real>
    </dict>
    <key>slash</key>
    <dict>
      <key>Eth</key>
      <real>22.5</real>
      <key>V</key>
      <real>112.5</real>
      <key>X</key>
      <integer>75</integer>
      <key>eth</key>
      <real>-22.5</real>
      <key>public.kern2.A_UC</key>
      <integer>-45</integer>
      <key>public.kern2.J_UC</key>
      <real>-52.5</real>
      <key>public.kern2.S_UC</key>
      <real>7.5</real>
      <key>public.kern2.T_UC</key>
      <integer>105</integer>
      <key>public.kern2.U_UC</key>
      <integer>30</integer>
      <key>public.kern2.W_UC</key>
      <integer>75</integer>
      <key>public.kern2.Y_UC</key>
      <real>112.5</real>
      <key>public.kern2.Z_UC</key>
      <real>67.5</real>
      <key>public.kern2.a_LC</key>
      <integer>-105</integer>
      <key>public.kern2.alpha</key>
      <real>-97.5</real>
      <key>public.kern2.f_LC</key>
      <integer>15</integer>
      <key>public.kern2.gamma</key>
      <integer>15</integer>
      <key>public.kern2.mnpr_LC</key>
      <real>-82.5</real>
      <key>public.kern2.o_LC</key>
      <real>-97.5</real>
      <key>public.kern2.s_LC</key>
      <integer>-90</integer>
      <key>public.kern2.t_LC</key>
      <real>37.5</real>
      <key>public.kern2.u_LC</key>
      <real>-82.5</real>
      <key>public.kern2.z_LC</key>
      <integer>-15</integer>
      <key>slash</key>
      <integer>-168</integer>
      <key>x</key>
      <real>-7.5</real>
    </dict>
    <key>space</key>
    <dict>
      <key>public.kern2.T_UC</key>
      <integer>-30</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>ampersand</key>
      <integer>-15</integer>
      <key>asterisk</key>
      <real>22.5</real>
      <key>backslash</key>
      <real>-7.5</real>
      <key>public.kern2.alpha</key>
      <integer>-15</integer>
      <key>public.kern2.comma</key>
      <real>22.5</real>
      <key>public.kern2.emdash</key>
      <real>-22.5</real>
      <key>public.kern2.minute</key>
      <real>22.5</real>
      <key>public.kern2.o_LC</key>
      <integer>-15</integer>
      <key>slash</key>
      <integer>75</integer>
    </dict>
  </dict>
</plist>
