appdirs==1.4.4
attrs==23.1.0
booleanOperations==0.9.0
cffsubr==0.2.9.post1
compreffor==0.5.3
fontdiffenator==0.9.13
fontmake==3.6.0
fontMath==0.9.3
fonttools==4.40.0
freetype-py==2.4.0
fs==2.4.16
glyphsLib==6.2.2
lxml==4.9.2
git+https://github.com/googlefonts/nototools@2aa38cca1c17d2262fbda706f68623f712dd446e
openstep-plist==0.3.0.post1
Pillow==9.5.0
pycairo==1.24.0
pyclipper==1.3.0.post4
pyparsing==3.1.0
six==1.16.0
ufo2ft==2.32.0
ufoLib2==0.14.0
uharfbuzz==0.37.0
unicodedata2==15.0.0
vttLib==0.9.0
fontbakery==0.8.9
