<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typemytype.robofont.binarySource</key>
    <string>/Users/David 1/RobotoClassic/Roboto Hinted Instances/Roboto-Regular.ttf</string>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>qcurve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>uni0000</string>
      <string>uni0002</string>
      <string>uni000D</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>guillemotleft</string>
      <string>logicalnot</string>
      <string>registered</string>
      <string>macron</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>acute</string>
      <string>mu</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>cedilla</string>
      <string>uni00B9</string>
      <string>ordmasculine</string>
      <string>guillemotright</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>questiondown</string>
      <string>AE</string>
      <string>multiply</string>
      <string>Oslash</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>ae</string>
      <string>eth</string>
      <string>divide</string>
      <string>oslash</string>
      <string>thorn</string>
      <string>dcroat</string>
      <string>Hbar</string>
      <string>dotlessi</string>
      <string>kgreenlandic</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>Eng</string>
      <string>eng</string>
      <string>OE</string>
      <string>oe</string>
      <string>longs</string>
      <string>uni018F</string>
      <string>florin</string>
      <string>Ohorn</string>
      <string>ohorn</string>
      <string>Uhorn</string>
      <string>uhorn</string>
      <string>uni0237</string>
      <string>uni0259</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>uni02C9</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>uni02F3</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>tildecomb</string>
      <string>hookabovecomb</string>
      <string>uni030F</string>
      <string>dotbelowcomb</string>
      <string>tonos</string>
      <string>dieresistonos</string>
      <string>anoteleia</string>
      <string>Gamma</string>
      <string>uni0394</string>
      <string>Theta</string>
      <string>Lambda</string>
      <string>Xi</string>
      <string>Pi</string>
      <string>Sigma</string>
      <string>Phi</string>
      <string>Psi</string>
      <string>uni03A9</string>
      <string>alpha</string>
      <string>beta</string>
      <string>gamma</string>
      <string>delta</string>
      <string>epsilon</string>
      <string>zeta</string>
      <string>eta</string>
      <string>theta</string>
      <string>iota</string>
      <string>lambda</string>
      <string>xi</string>
      <string>pi</string>
      <string>rho</string>
      <string>sigma1</string>
      <string>sigma</string>
      <string>tau</string>
      <string>upsilon</string>
      <string>phi</string>
      <string>psi</string>
      <string>omega</string>
      <string>theta1</string>
      <string>Upsilon1</string>
      <string>omega1</string>
      <string>uni0402</string>
      <string>uni0404</string>
      <string>uni0409</string>
      <string>uni040A</string>
      <string>uni040B</string>
      <string>uni040F</string>
      <string>uni0411</string>
      <string>uni0414</string>
      <string>uni0416</string>
      <string>uni0417</string>
      <string>uni0418</string>
      <string>uni041B</string>
      <string>uni0423</string>
      <string>uni0424</string>
      <string>uni0426</string>
      <string>uni0427</string>
      <string>uni0428</string>
      <string>uni0429</string>
      <string>uni042A</string>
      <string>uni042B</string>
      <string>uni042C</string>
      <string>uni042D</string>
      <string>uni042E</string>
      <string>uni042F</string>
      <string>uni0431</string>
      <string>uni0432</string>
      <string>uni0433</string>
      <string>uni0434</string>
      <string>uni0436</string>
      <string>uni0437</string>
      <string>uni0438</string>
      <string>uni043A</string>
      <string>uni043B</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni043F</string>
      <string>uni0442</string>
      <string>uni0444</string>
      <string>uni0446</string>
      <string>uni0447</string>
      <string>uni0448</string>
      <string>uni0449</string>
      <string>uni044A</string>
      <string>uni044B</string>
      <string>uni044C</string>
      <string>uni044D</string>
      <string>uni044E</string>
      <string>uni044F</string>
      <string>uni0452</string>
      <string>uni0454</string>
      <string>uni0459</string>
      <string>uni045A</string>
      <string>uni045B</string>
      <string>uni045F</string>
      <string>uni0460</string>
      <string>uni0461</string>
      <string>uni0463</string>
      <string>uni0464</string>
      <string>uni0465</string>
      <string>uni0466</string>
      <string>uni0467</string>
      <string>uni0468</string>
      <string>uni0469</string>
      <string>uni046A</string>
      <string>uni046B</string>
      <string>uni046C</string>
      <string>uni046D</string>
      <string>uni046E</string>
      <string>uni046F</string>
      <string>uni0472</string>
      <string>uni0473</string>
      <string>uni0474</string>
      <string>uni0475</string>
      <string>uni047A</string>
      <string>uni047B</string>
      <string>uni047C</string>
      <string>uni047D</string>
      <string>uni047E</string>
      <string>uni047F</string>
      <string>uni0480</string>
      <string>uni0481</string>
      <string>uni0482</string>
      <string>uni0483</string>
      <string>uni0484</string>
      <string>uni0485</string>
      <string>uni0486</string>
      <string>uni0488</string>
      <string>uni0489</string>
      <string>uni048A</string>
      <string>uni048B</string>
      <string>uni048D</string>
      <string>uni048E</string>
      <string>uni048F</string>
      <string>uni0490</string>
      <string>uni0491</string>
      <string>uni0494</string>
      <string>uni0495</string>
      <string>uni0496</string>
      <string>uni0497</string>
      <string>uni049A</string>
      <string>uni049B</string>
      <string>uni049C</string>
      <string>uni049D</string>
      <string>uni04A0</string>
      <string>uni04A1</string>
      <string>uni04A2</string>
      <string>uni04A3</string>
      <string>uni04A4</string>
      <string>uni04A5</string>
      <string>uni04A6</string>
      <string>uni04A7</string>
      <string>uni04A8</string>
      <string>uni04A9</string>
      <string>uni04B2</string>
      <string>uni04B3</string>
      <string>uni04B4</string>
      <string>uni04B5</string>
      <string>uni04B6</string>
      <string>uni04B7</string>
      <string>uni04B8</string>
      <string>uni04B9</string>
      <string>uni04BA</string>
      <string>uni04BC</string>
      <string>uni04BD</string>
      <string>uni04C3</string>
      <string>uni04C4</string>
      <string>uni04C5</string>
      <string>uni04C6</string>
      <string>uni04C7</string>
      <string>uni04C8</string>
      <string>uni04C9</string>
      <string>uni04CA</string>
      <string>uni04CD</string>
      <string>uni04CE</string>
      <string>uni04D8</string>
      <string>uni04E0</string>
      <string>uni04E1</string>
      <string>uni04FA</string>
      <string>uni04FB</string>
      <string>uni04FC</string>
      <string>uni04FD</string>
      <string>uni0500</string>
      <string>uni0502</string>
      <string>uni0503</string>
      <string>uni0504</string>
      <string>uni0505</string>
      <string>uni0506</string>
      <string>uni0507</string>
      <string>uni0508</string>
      <string>uni0509</string>
      <string>uni050A</string>
      <string>uni050B</string>
      <string>uni050C</string>
      <string>uni050D</string>
      <string>uni050E</string>
      <string>uni050F</string>
      <string>uni0510</string>
      <string>uni0512</string>
      <string>uni0513</string>
      <string>glyph00369</string>
      <string>uni2000</string>
      <string>uni2001</string>
      <string>uni2002</string>
      <string>uni2003</string>
      <string>uni2004</string>
      <string>uni2005</string>
      <string>uni2006</string>
      <string>uni2007</string>
      <string>uni2008</string>
      <string>uni2009</string>
      <string>glyph00380</string>
      <string>uni200A</string>
      <string>uni200B</string>
      <string>uni2010</string>
      <string>uni2011</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscoredbl</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotereversed</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>bullet</string>
      <string>twodotenleader</string>
      <string>ellipsis</string>
      <string>uni2027</string>
      <string>perthousand</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>fraction</string>
      <string>uni2074</string>
      <string>uni207F</string>
      <string>lira</string>
      <string>uni20A6</string>
      <string>peseta</string>
      <string>uni20A8</string>
      <string>uni20A9</string>
      <string>uni20AA</string>
      <string>Euro</string>
      <string>uni20B1</string>
      <string>uni20B9</string>
      <string>uni20BA</string>
      <string>uni20BC</string>
      <string>uni20BD</string>
      <string>uni2105</string>
      <string>uni2113</string>
      <string>uni2116</string>
      <string>trademark</string>
      <string>estimated</string>
      <string>oneeighth</string>
      <string>threeeighths</string>
      <string>fiveeighths</string>
      <string>seveneighths</string>
      <string>partialdiff</string>
      <string>product</string>
      <string>summation</string>
      <string>minus</string>
      <string>radical</string>
      <string>infinity</string>
      <string>integral</string>
      <string>approxequal</string>
      <string>notequal</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>lozenge</string>
      <string>uniEE01</string>
      <string>uniEE02</string>
      <string>uniF6C3</string>
      <string>glyph00443</string>
      <string>uniFB01</string>
      <string>uniFB02</string>
      <string>uniFB03</string>
      <string>uniFB04</string>
      <string>glyph00448</string>
      <string>glyph00449</string>
      <string>uniFEFF</string>
      <string>uniFFFC</string>
      <string>uniFFFD</string>
      <string>glyph00453</string>
      <string>glyph00454</string>
      <string>glyph00455</string>
      <string>glyph00456</string>
      <string>glyph00457</string>
      <string>glyph00458</string>
      <string>glyph00459</string>
      <string>glyph00460</string>
      <string>glyph00461</string>
      <string>glyph00462</string>
      <string>glyph00463</string>
      <string>glyph00464</string>
      <string>glyph00465</string>
      <string>glyph00466</string>
      <string>glyph00467</string>
      <string>glyph00468</string>
      <string>glyph00469</string>
      <string>glyph00470</string>
      <string>glyph00471</string>
      <string>glyph00472</string>
      <string>glyph00473</string>
      <string>glyph00474</string>
      <string>glyph00475</string>
      <string>glyph00476</string>
      <string>glyph00477</string>
      <string>glyph00478</string>
      <string>glyph00479</string>
      <string>glyph00480</string>
      <string>glyph00481</string>
      <string>glyph00482</string>
      <string>glyph00483</string>
      <string>glyph00484</string>
      <string>glyph00485</string>
      <string>glyph00486</string>
      <string>glyph00487</string>
      <string>glyph00488</string>
      <string>glyph00489</string>
      <string>glyph00490</string>
      <string>glyph00491</string>
      <string>glyph00492</string>
      <string>glyph00493</string>
      <string>glyph00494</string>
      <string>glyph00495</string>
      <string>glyph00496</string>
      <string>glyph00497</string>
      <string>glyph00498</string>
      <string>glyph00499</string>
      <string>glyph00500</string>
      <string>glyph00501</string>
      <string>glyph00502</string>
      <string>glyph00503</string>
      <string>glyph00504</string>
      <string>glyph00505</string>
      <string>glyph00506</string>
      <string>glyph00507</string>
      <string>glyph00508</string>
      <string>glyph00509</string>
      <string>glyph00510</string>
      <string>glyph00511</string>
      <string>glyph00512</string>
      <string>glyph00513</string>
      <string>glyph00514</string>
      <string>glyph00515</string>
      <string>glyph00516</string>
      <string>glyph00517</string>
      <string>glyph00518</string>
      <string>glyph00519</string>
      <string>glyph00520</string>
      <string>glyph00521</string>
      <string>glyph00522</string>
      <string>glyph00523</string>
      <string>glyph00524</string>
      <string>glyph00525</string>
      <string>glyph00526</string>
      <string>glyph00527</string>
      <string>glyph00528</string>
      <string>glyph00529</string>
      <string>glyph00530</string>
      <string>glyph00531</string>
      <string>glyph00532</string>
      <string>glyph00533</string>
      <string>glyph00534</string>
      <string>glyph00535</string>
      <string>glyph00536</string>
      <string>glyph00537</string>
      <string>glyph00538</string>
      <string>glyph00539</string>
      <string>glyph00540</string>
      <string>glyph00541</string>
      <string>glyph00542</string>
      <string>glyph00543</string>
      <string>glyph00544</string>
      <string>glyph00545</string>
      <string>glyph00546</string>
      <string>glyph00547</string>
      <string>glyph00548</string>
      <string>glyph00549</string>
      <string>glyph00550</string>
      <string>glyph00551</string>
      <string>glyph00552</string>
      <string>glyph00553</string>
      <string>glyph00554</string>
      <string>glyph00555</string>
      <string>glyph00556</string>
      <string>glyph00557</string>
      <string>glyph00558</string>
      <string>glyph00559</string>
      <string>glyph00560</string>
      <string>glyph00561</string>
      <string>glyph00562</string>
      <string>glyph00563</string>
      <string>glyph00564</string>
      <string>glyph00565</string>
      <string>glyph00566</string>
      <string>glyph00567</string>
      <string>glyph00568</string>
      <string>glyph00569</string>
      <string>glyph00570</string>
      <string>glyph00571</string>
      <string>glyph00572</string>
      <string>glyph00573</string>
      <string>glyph00574</string>
      <string>glyph00575</string>
      <string>glyph00576</string>
      <string>glyph00577</string>
      <string>glyph00578</string>
      <string>glyph00579</string>
      <string>glyph00580</string>
      <string>glyph00581</string>
      <string>glyph00582</string>
      <string>glyph00583</string>
      <string>glyph00584</string>
      <string>glyph00585</string>
      <string>glyph00586</string>
      <string>glyph00587</string>
      <string>glyph00588</string>
      <string>glyph00589</string>
      <string>glyph00590</string>
      <string>glyph00591</string>
      <string>glyph00592</string>
      <string>glyph00593</string>
      <string>glyph00594</string>
      <string>glyph00595</string>
      <string>glyph00596</string>
      <string>glyph00597</string>
      <string>glyph00598</string>
      <string>glyph00599</string>
      <string>glyph00600</string>
      <string>glyph00601</string>
      <string>glyph00602</string>
      <string>glyph00603</string>
      <string>glyph00604</string>
      <string>glyph00605</string>
      <string>glyph00606</string>
      <string>glyph00607</string>
      <string>glyph00608</string>
      <string>glyph00609</string>
      <string>glyph00610</string>
      <string>glyph00611</string>
      <string>glyph00612</string>
      <string>glyph00613</string>
      <string>glyph00614</string>
      <string>glyph00615</string>
      <string>glyph00616</string>
      <string>glyph00617</string>
      <string>glyph00618</string>
      <string>glyph00619</string>
      <string>glyph00620</string>
      <string>glyph00621</string>
      <string>glyph00622</string>
      <string>glyph00623</string>
      <string>glyph00624</string>
      <string>glyph00625</string>
      <string>glyph00626</string>
      <string>glyph00627</string>
      <string>glyph00628</string>
      <string>glyph00629</string>
      <string>glyph00630</string>
      <string>glyph00631</string>
      <string>uni00A0</string>
      <string>uni00AD</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>hbar</string>
      <string>Tbar</string>
      <string>tbar</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>Amacron</string>
      <string>amacron</string>
      <string>Abreve</string>
      <string>abreve</string>
      <string>Aogonek</string>
      <string>aogonek</string>
      <string>Cacute</string>
      <string>cacute</string>
      <string>Ccircumflex</string>
      <string>ccircumflex</string>
      <string>Cdotaccent</string>
      <string>cdotaccent</string>
      <string>Ccaron</string>
      <string>ccaron</string>
      <string>Dcaron</string>
      <string>dcaron</string>
      <string>Emacron</string>
      <string>emacron</string>
      <string>Ebreve</string>
      <string>ebreve</string>
      <string>Edotaccent</string>
      <string>edotaccent</string>
      <string>Eogonek</string>
      <string>eogonek</string>
      <string>Ecaron</string>
      <string>ecaron</string>
      <string>Gcircumflex</string>
      <string>gcircumflex</string>
      <string>Gbreve</string>
      <string>gbreve</string>
      <string>Gdotaccent</string>
      <string>gdotaccent</string>
      <string>uni0122</string>
      <string>uni0123</string>
      <string>Hcircumflex</string>
      <string>hcircumflex</string>
      <string>Itilde</string>
      <string>itilde</string>
      <string>Imacron</string>
      <string>imacron</string>
      <string>Ibreve</string>
      <string>ibreve</string>
      <string>Iogonek</string>
      <string>iogonek</string>
      <string>Idotaccent</string>
      <string>IJ</string>
      <string>ij</string>
      <string>Jcircumflex</string>
      <string>jcircumflex</string>
      <string>uni0136</string>
      <string>uni0137</string>
      <string>Lacute</string>
      <string>lacute</string>
      <string>uni013B</string>
      <string>uni013C</string>
      <string>Lcaron</string>
      <string>lcaron</string>
      <string>Ldot</string>
      <string>ldot</string>
      <string>Nacute</string>
      <string>nacute</string>
      <string>uni0145</string>
      <string>uni0146</string>
      <string>Ncaron</string>
      <string>ncaron</string>
      <string>napostrophe</string>
      <string>Omacron</string>
      <string>omacron</string>
      <string>Obreve</string>
      <string>obreve</string>
      <string>Ohungarumlaut</string>
      <string>ohungarumlaut</string>
      <string>Racute</string>
      <string>racute</string>
      <string>uni0156</string>
      <string>uni0157</string>
      <string>Rcaron</string>
      <string>rcaron</string>
      <string>Sacute</string>
      <string>sacute</string>
      <string>Scircumflex</string>
      <string>scircumflex</string>
      <string>Scedilla</string>
      <string>scedilla</string>
      <string>uni0218</string>
      <string>uni0219</string>
      <string>Scaron</string>
      <string>scaron</string>
      <string>uni021A</string>
      <string>uni021B</string>
      <string>uni0162</string>
      <string>uni0163</string>
      <string>Tcaron</string>
      <string>tcaron</string>
      <string>Utilde</string>
      <string>utilde</string>
      <string>Umacron</string>
      <string>umacron</string>
      <string>Ubreve</string>
      <string>ubreve</string>
      <string>Uring</string>
      <string>uring</string>
      <string>Uhungarumlaut</string>
      <string>uhungarumlaut</string>
      <string>Uogonek</string>
      <string>uogonek</string>
      <string>Wcircumflex</string>
      <string>wcircumflex</string>
      <string>Ycircumflex</string>
      <string>ycircumflex</string>
      <string>Ydieresis</string>
      <string>Zacute</string>
      <string>zacute</string>
      <string>Zdotaccent</string>
      <string>zdotaccent</string>
      <string>Zcaron</string>
      <string>zcaron</string>
      <string>AEacute</string>
      <string>aeacute</string>
      <string>Oslashacute</string>
      <string>oslashacute</string>
      <string>glyph00815</string>
      <string>glyph00816</string>
      <string>glyph00817</string>
      <string>glyph00818</string>
      <string>glyph00819</string>
      <string>glyph00820</string>
      <string>glyph00821</string>
      <string>glyph00822</string>
      <string>glyph00823</string>
      <string>glyph00824</string>
      <string>glyph00825</string>
      <string>glyph00826</string>
      <string>glyph00827</string>
      <string>glyph00828</string>
      <string>glyph00829</string>
      <string>glyph00830</string>
      <string>glyph00831</string>
      <string>glyph00832</string>
      <string>glyph00833</string>
      <string>glyph00834</string>
      <string>glyph00835</string>
      <string>glyph00836</string>
      <string>glyph00837</string>
      <string>glyph00838</string>
      <string>glyph00839</string>
      <string>glyph00840</string>
      <string>glyph00841</string>
      <string>glyph00842</string>
      <string>glyph00843</string>
      <string>glyph00844</string>
      <string>glyph00845</string>
      <string>glyph00846</string>
      <string>glyph00847</string>
      <string>glyph00848</string>
      <string>glyph00849</string>
      <string>glyph00850</string>
      <string>glyph00851</string>
      <string>glyph00852</string>
      <string>glyph00853</string>
      <string>glyph00854</string>
      <string>glyph00855</string>
      <string>glyph00856</string>
      <string>glyph00857</string>
      <string>glyph00858</string>
      <string>glyph00859</string>
      <string>glyph00860</string>
      <string>glyph00861</string>
      <string>glyph00862</string>
      <string>glyph00863</string>
      <string>glyph00864</string>
      <string>glyph00865</string>
      <string>glyph00866</string>
      <string>glyph00867</string>
      <string>glyph00868</string>
      <string>glyph00869</string>
      <string>glyph00870</string>
      <string>glyph00871</string>
      <string>glyph00872</string>
      <string>glyph00873</string>
      <string>glyph00874</string>
      <string>glyph00875</string>
      <string>glyph00876</string>
      <string>glyph00877</string>
      <string>glyph00878</string>
      <string>glyph00879</string>
      <string>glyph00880</string>
      <string>glyph00881</string>
      <string>glyph00882</string>
      <string>glyph00883</string>
      <string>glyph00884</string>
      <string>glyph00885</string>
      <string>glyph00886</string>
      <string>glyph00887</string>
      <string>glyph00888</string>
      <string>glyph00889</string>
      <string>glyph00890</string>
      <string>glyph00891</string>
      <string>glyph00892</string>
      <string>glyph00893</string>
      <string>glyph00894</string>
      <string>glyph00895</string>
      <string>glyph00896</string>
      <string>glyph00897</string>
      <string>glyph00898</string>
      <string>glyph00899</string>
      <string>glyph00900</string>
      <string>glyph00901</string>
      <string>Alphatonos</string>
      <string>Epsilontonos</string>
      <string>Etatonos</string>
      <string>Iotatonos</string>
      <string>Omicrontonos</string>
      <string>Upsilontonos</string>
      <string>Omegatonos</string>
      <string>iotadieresistonos</string>
      <string>Alpha</string>
      <string>Beta</string>
      <string>Epsilon</string>
      <string>Zeta</string>
      <string>Eta</string>
      <string>Iota</string>
      <string>Kappa</string>
      <string>Mu</string>
      <string>Nu</string>
      <string>Omicron</string>
      <string>Rho</string>
      <string>Tau</string>
      <string>Upsilon</string>
      <string>Chi</string>
      <string>Iotadieresis</string>
      <string>Upsilondieresis</string>
      <string>alphatonos</string>
      <string>epsilontonos</string>
      <string>etatonos</string>
      <string>iotatonos</string>
      <string>upsilondieresistonos</string>
      <string>kappa</string>
      <string>omicron</string>
      <string>uni03BC</string>
      <string>nu</string>
      <string>chi</string>
      <string>iotadieresis</string>
      <string>upsilondieresis</string>
      <string>omicrontonos</string>
      <string>upsilontonos</string>
      <string>omegatonos</string>
      <string>uni0401</string>
      <string>uni0403</string>
      <string>uni0405</string>
      <string>uni0406</string>
      <string>uni0407</string>
      <string>uni0408</string>
      <string>uni041A</string>
      <string>uni040C</string>
      <string>uni040E</string>
      <string>uni0410</string>
      <string>uni0412</string>
      <string>uni0413</string>
      <string>uni0415</string>
      <string>uni0419</string>
      <string>uni041C</string>
      <string>uni041D</string>
      <string>uni041E</string>
      <string>uni041F</string>
      <string>uni0420</string>
      <string>uni0421</string>
      <string>uni0422</string>
      <string>uni0425</string>
      <string>uni0430</string>
      <string>uni0435</string>
      <string>uni0439</string>
      <string>uni043E</string>
      <string>uni0440</string>
      <string>uni0441</string>
      <string>uni0443</string>
      <string>uni0445</string>
      <string>uni0451</string>
      <string>uni0453</string>
      <string>uni0455</string>
      <string>uni0456</string>
      <string>uni0457</string>
      <string>uni0458</string>
      <string>uni045C</string>
      <string>uni045E</string>
      <string>Wgrave</string>
      <string>wgrave</string>
      <string>Wacute</string>
      <string>wacute</string>
      <string>Wdieresis</string>
      <string>wdieresis</string>
      <string>Ygrave</string>
      <string>ygrave</string>
      <string>minute</string>
      <string>second</string>
      <string>exclamdbl</string>
      <string>uni01F0</string>
      <string>uni02BC</string>
      <string>uni1E3E</string>
      <string>uni1E3F</string>
      <string>uni1E00</string>
      <string>uni1E01</string>
      <string>uni0400</string>
      <string>uni040D</string>
      <string>uni0450</string>
      <string>uni045D</string>
      <string>uni0470</string>
      <string>uni0471</string>
      <string>uni0476</string>
      <string>uni0477</string>
      <string>uni0479</string>
      <string>uni0478</string>
      <string>uni0498</string>
      <string>uni0499</string>
      <string>uni04AA</string>
      <string>uni04AB</string>
      <string>uni04AE</string>
      <string>uni04AF</string>
      <string>uni04C0</string>
      <string>uni04C1</string>
      <string>uni04C2</string>
      <string>uni04CF</string>
      <string>uni04D0</string>
      <string>uni04D1</string>
      <string>uni04D2</string>
      <string>uni04D3</string>
      <string>uni04D4</string>
      <string>uni04D5</string>
      <string>uni04D6</string>
      <string>uni04D7</string>
      <string>uni04DA</string>
      <string>uni04D9</string>
      <string>uni04DB</string>
      <string>uni04DC</string>
      <string>uni04DD</string>
      <string>uni04DE</string>
      <string>uni04DF</string>
      <string>uni04E2</string>
      <string>uni04E3</string>
      <string>uni04E4</string>
      <string>uni04E5</string>
      <string>uni04E6</string>
      <string>uni04E7</string>
      <string>uni04E8</string>
      <string>uni04E9</string>
      <string>uni04EA</string>
      <string>uni04EB</string>
      <string>uni04EC</string>
      <string>uni04ED</string>
      <string>uni04EE</string>
      <string>uni04EF</string>
      <string>uni04F0</string>
      <string>uni04F1</string>
      <string>uni04F2</string>
      <string>uni04F3</string>
      <string>uni04F4</string>
      <string>uni04F5</string>
      <string>uni04F8</string>
      <string>uni04F9</string>
      <string>uni0501</string>
      <string>uni1EA0</string>
      <string>uni1EA1</string>
      <string>uni1EA2</string>
      <string>uni1EA3</string>
      <string>uni1EA4</string>
      <string>uni1EA5</string>
      <string>uni1EA6</string>
      <string>uni1EA7</string>
      <string>uni1EA8</string>
      <string>uni1EA9</string>
      <string>uni1EAA</string>
      <string>uni1EAB</string>
      <string>uni1EAC</string>
      <string>uni1EAD</string>
      <string>uni1EAE</string>
      <string>uni1EAF</string>
      <string>uni1EB0</string>
      <string>uni1EB1</string>
      <string>uni1EB2</string>
      <string>uni1EB3</string>
      <string>uni1EB4</string>
      <string>uni1EB5</string>
      <string>uni1EB6</string>
      <string>uni1EB7</string>
      <string>uni1EB8</string>
      <string>uni1EB9</string>
      <string>uni1EBA</string>
      <string>uni1EBB</string>
      <string>uni1EBC</string>
      <string>uni1EBD</string>
      <string>uni1EBE</string>
      <string>uni1EBF</string>
      <string>uni1EC0</string>
      <string>uni1EC1</string>
      <string>uni1EC2</string>
      <string>uni1EC3</string>
      <string>uni1EC4</string>
      <string>uni1EC5</string>
      <string>uni1EC6</string>
      <string>uni1EC7</string>
      <string>uni1EC8</string>
      <string>uni1EC9</string>
      <string>uni1ECA</string>
      <string>uni1ECB</string>
      <string>uni1ECC</string>
      <string>uni1ECD</string>
      <string>uni1ECE</string>
      <string>uni1ECF</string>
      <string>uni1ED0</string>
      <string>uni1ED1</string>
      <string>uni1ED2</string>
      <string>uni1ED3</string>
      <string>uni1ED4</string>
      <string>uni1ED5</string>
      <string>uni1ED6</string>
      <string>uni1ED7</string>
      <string>uni1ED8</string>
      <string>uni1ED9</string>
      <string>uni1EDA</string>
      <string>uni1EDB</string>
      <string>uni1EDC</string>
      <string>uni1EDD</string>
      <string>uni1EDE</string>
      <string>uni1EDF</string>
      <string>uni1EE0</string>
      <string>uni1EE1</string>
      <string>uni1EE2</string>
      <string>uni1EE3</string>
      <string>uni1EE4</string>
      <string>uni1EE5</string>
      <string>uni1EE6</string>
      <string>uni1EE7</string>
      <string>uni1EE8</string>
      <string>uni1EE9</string>
      <string>uni1EEA</string>
      <string>uni1EEB</string>
      <string>uni1EEC</string>
      <string>uni1EED</string>
      <string>uni1EEE</string>
      <string>uni1EEF</string>
      <string>uni1EF0</string>
      <string>uni1EF1</string>
      <string>uni1EF4</string>
      <string>uni1EF5</string>
      <string>uni1EF6</string>
      <string>uni1EF7</string>
      <string>uni1EF8</string>
      <string>uni1EF9</string>
      <string>dong</string>
      <string>uni04AC</string>
      <string>uni04AD</string>
      <string>uni04CB</string>
      <string>uni04CC</string>
      <string>uni04F6</string>
      <string>uni04F7</string>
      <string>uni04BE</string>
      <string>uni04BF</string>
      <string>uni04BB</string>
      <string>uni048C</string>
      <string>uni0462</string>
      <string>uni0492</string>
      <string>uni0493</string>
      <string>uni049E</string>
      <string>uni049F</string>
      <string>uni04B0</string>
      <string>uni04B1</string>
      <string>uni04FE</string>
      <string>uni04FF</string>
      <string>uni0511</string>
      <string>franc</string>
      <string>uni2015</string>
      <string>glyph01165</string>
      <string>glyph01166</string>
      <string>glyph01167</string>
      <string>glyph01168</string>
      <string>glyph01169</string>
      <string>glyph01170</string>
      <string>glyph01171</string>
      <string>glyph01172</string>
      <string>glyph01173</string>
      <string>glyph01174</string>
      <string>glyph01175</string>
      <string>glyph01176</string>
      <string>glyph01177</string>
      <string>glyph01178</string>
      <string>glyph01179</string>
      <string>glyph01180</string>
      <string>glyph01181</string>
      <string>glyph01182</string>
      <string>glyph01183</string>
      <string>glyph01184</string>
      <string>glyph01185</string>
      <string>glyph01186</string>
      <string>glyph01187</string>
      <string>glyph01188</string>
      <string>glyph01189</string>
      <string>glyph01190</string>
      <string>glyph01191</string>
      <string>glyph01192</string>
      <string>glyph01193</string>
      <string>glyph01194</string>
      <string>glyph01195</string>
      <string>glyph01196</string>
      <string>glyph01197</string>
      <string>glyph01198</string>
      <string>glyph01199</string>
      <string>glyph01200</string>
      <string>glyph01201</string>
      <string>glyph01202</string>
      <string>glyph01203</string>
      <string>glyph01204</string>
      <string>glyph01205</string>
      <string>glyph01206</string>
      <string>glyph01207</string>
      <string>glyph01208</string>
      <string>glyph01209</string>
      <string>glyph01210</string>
      <string>glyph01211</string>
      <string>glyph01212</string>
      <string>glyph01213</string>
      <string>glyph01214</string>
      <string>glyph01215</string>
      <string>glyph01216</string>
      <string>glyph01217</string>
      <string>glyph01218</string>
      <string>glyph01219</string>
      <string>glyph01220</string>
      <string>glyph01221</string>
      <string>glyph01222</string>
      <string>glyph01223</string>
      <string>glyph01224</string>
      <string>glyph01225</string>
      <string>uni1F4D</string>
      <string>glyph01227</string>
      <string>glyph01228</string>
      <string>glyph01229</string>
      <string>glyph01230</string>
      <string>glyph01231</string>
      <string>glyph01232</string>
      <string>glyph01233</string>
      <string>glyph01234</string>
      <string>glyph01235</string>
      <string>glyph01236</string>
      <string>glyph01237</string>
      <string>glyph01238</string>
      <string>glyph01239</string>
      <string>glyph01240</string>
      <string>glyph01241</string>
      <string>glyph01242</string>
      <string>glyph01243</string>
      <string>glyph01244</string>
      <string>glyph01245</string>
      <string>glyph01246</string>
      <string>glyph01247</string>
      <string>glyph01248</string>
      <string>glyph01249</string>
      <string>glyph01250</string>
      <string>glyph01251</string>
      <string>glyph01252</string>
      <string>glyph01253</string>
      <string>glyph01254</string>
      <string>glyph01255</string>
      <string>glyph01256</string>
      <string>glyph01257</string>
      <string>glyph01258</string>
      <string>glyph01259</string>
      <string>glyph01260</string>
      <string>glyph01261</string>
      <string>glyph01262</string>
      <string>glyph01263</string>
      <string>glyph01264</string>
      <string>glyph01265</string>
      <string>glyph01266</string>
      <string>glyph01267</string>
      <string>glyph01268</string>
      <string>glyph01269</string>
      <string>glyph01270</string>
      <string>glyph01271</string>
      <string>glyph01272</string>
      <string>glyph01273</string>
      <string>glyph01274</string>
      <string>glyph01275</string>
      <string>glyph01276</string>
      <string>glyph01277</string>
      <string>glyph01278</string>
      <string>glyph01279</string>
      <string>glyph01280</string>
      <string>glyph01281</string>
      <string>glyph01282</string>
      <string>glyph01283</string>
      <string>glyph01284</string>
      <string>glyph01285</string>
      <string>glyph01286</string>
      <string>glyph01287</string>
      <string>glyph01288</string>
      <string>glyph01289</string>
      <string>glyph01290</string>
      <string>glyph01291</string>
      <string>glyph01292</string>
      <string>glyph01293</string>
    </array>
  </dict>
</plist>
