<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1536</integer>
    <key>capHeight</key>
    <integer>1456</integer>
    <key>descender</key>
    <integer>-512</integer>
    <key>familyName</key>
    <string>Roboto Condensed</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHheaAscender</key>
    <integer>1900</integer>
    <key>openTypeHheaDescender</key>
    <integer>-500</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>102</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1946</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>512</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Thin</string>
    <key>unitsPerEm</key>
    <integer>2048</integer>
    <key>xHeight</key>
    <integer>1082</integer>
  </dict>
</plist>
