<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Alpha</string>
      <string>Alphatonos</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>Lambda</string>
      <string>glyph01177</string>
      <string>uni0394</string>
      <string>uni0410</string>
      <string>uni0466</string>
      <string>uni04D0</string>
      <string>uni04D2</string>
      <string>uni1E00</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>Beta</string>
      <string>glyph01190</string>
      <string>uni0412</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>glyph00581</string>
      <string>uni0421</string>
      <string>uni04AA</string>
    </array>
    <key>public.kern1.Chi</key>
    <array>
      <string>Chi</string>
      <string>X</string>
      <string>uni0416</string>
      <string>uni0425</string>
      <string>uni0496</string>
      <string>uni04B2</string>
      <string>uni04C1</string>
      <string>uni04DC</string>
      <string>uni04FC</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Omicron</string>
      <string>Omicrontonos</string>
      <string>Otilde</string>
      <string>Theta</string>
      <string>glyph00583</string>
      <string>glyph00584</string>
      <string>glyph01183</string>
      <string>glyph01192</string>
      <string>glyph01194</string>
      <string>glyph01208</string>
      <string>uni018F</string>
      <string>uni041E</string>
      <string>uni04D8</string>
      <string>uni04E6</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
      <string>uni1F4D</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Epsilon</string>
      <string>Epsilontonos</string>
      <string>glyph01179</string>
      <string>uni0400</string>
      <string>uni0401</string>
      <string>uni0415</string>
      <string>uni04D6</string>
      <string>uni1EB8</string>
      <string>uni1EBA</string>
      <string>uni1EBC</string>
      <string>uni1EBE</string>
      <string>uni1EC0</string>
      <string>uni1EC2</string>
      <string>uni1EC4</string>
      <string>uni1EC6</string>
    </array>
    <key>public.kern1.Eta</key>
    <array>
      <string>Eta</string>
      <string>Etatonos</string>
      <string>H</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Iota</string>
      <string>Iotadieresis</string>
      <string>Iotatonos</string>
      <string>Itilde</string>
      <string>M</string>
      <string>Mu</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>Nu</string>
      <string>glyph01175</string>
      <string>glyph01181</string>
      <string>glyph01196</string>
      <string>glyph01204</string>
      <string>glyph01206</string>
      <string>uni0145</string>
      <string>uni0406</string>
      <string>uni0407</string>
      <string>uni040F</string>
      <string>uni0418</string>
      <string>uni041B</string>
      <string>uni041C</string>
      <string>uni041D</string>
      <string>uni0426</string>
      <string>uni0427</string>
      <string>uni0428</string>
      <string>uni0429</string>
      <string>uni042B</string>
      <string>uni04A2</string>
      <string>uni04C0</string>
      <string>uni04C9</string>
      <string>uni04CD</string>
      <string>uni04CF</string>
      <string>uni1E3E</string>
      <string>uni1EC8</string>
      <string>uni1ECA</string>
    </array>
    <key>public.kern1.Gamma</key>
    <array>
      <string>Gamma</string>
      <string>uni0403</string>
      <string>uni0413</string>
      <string>uni0490</string>
      <string>uni0492</string>
      <string>uni04F6</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>glyph01217</string>
      <string>uni0408</string>
      <string>uni1EE4</string>
      <string>uni1EE6</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kappa</string>
      <string>glyph01198</string>
      <string>glyph01200</string>
      <string>uni0136</string>
      <string>uni040C</string>
      <string>uni041A</string>
      <string>uni049A</string>
      <string>uni049C</string>
      <string>uni049E</string>
      <string>uni04A0</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Ldot</string>
      <string>glyph01202</string>
      <string>uni013B</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>Rho</string>
      <string>glyph01209</string>
      <string>uni0420</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tau</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>glyph01215</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>uni0422</string>
      <string>uni04AC</string>
    </array>
    <key>public.kern1.Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilondieresis</string>
      <string>Upsilontonos</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni04AE</string>
      <string>uni04B0</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>glyph01218</string>
      <string>glyph01220</string>
      <string>uni0474</string>
      <string>uni0476</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>glyph01222</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zeta</string>
      <string>glyph01224</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>glyph01178</string>
      <string>uni0430</string>
      <string>uni04D1</string>
      <string>uni04D3</string>
      <string>uni1E01</string>
      <string>uni1EA1</string>
      <string>uni1EA3</string>
      <string>uni1EA5</string>
      <string>uni1EA7</string>
      <string>uni1EA9</string>
      <string>uni1EAB</string>
      <string>uni1EAD</string>
      <string>uni1EAF</string>
      <string>uni1EB1</string>
      <string>uni1EB3</string>
      <string>uni1EB5</string>
      <string>uni1EB7</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>glyph01191</string>
      <string>glyph01210</string>
      <string>p</string>
      <string>rho</string>
      <string>thorn</string>
      <string>uni0440</string>
      <string>uni0444</string>
      <string>uni044D</string>
      <string>uni048F</string>
      <string>uni04ED</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>uni0441</string>
      <string>uni04AB</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>twodotenleader</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>uni0435</string>
      <string>uni0450</string>
      <string>uni0451</string>
      <string>uni04D7</string>
      <string>uni04D9</string>
      <string>uni04DB</string>
      <string>uni1EB9</string>
      <string>uni1EBB</string>
      <string>uni1EBD</string>
      <string>uni1EBF</string>
      <string>uni1EC1</string>
      <string>uni1EC3</string>
      <string>uni1EC5</string>
      <string>uni1EC7</string>
    </array>
    <key>public.kern1.eta</key>
    <array>
      <string>eta</string>
      <string>etatonos</string>
      <string>glyph01176</string>
      <string>glyph01197</string>
      <string>glyph01205</string>
      <string>glyph01207</string>
      <string>h</string>
      <string>hcircumflex</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ntilde</string>
      <string>uni0146</string>
      <string>uni04BB</string>
      <string>uni1E3F</string>
    </array>
    <key>public.kern1.gamma</key>
    <array>
      <string>gamma</string>
      <string>glyph01219</string>
      <string>glyph01221</string>
      <string>nu</string>
      <string>uni0443</string>
      <string>uni045E</string>
      <string>uni0475</string>
      <string>uni0477</string>
      <string>uni04AF</string>
      <string>uni04EF</string>
      <string>uni04F1</string>
      <string>uni04F3</string>
      <string>uni1EF5</string>
      <string>uni1EF7</string>
      <string>uni1EF9</string>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.glyph00472</key>
    <array>
      <string>glyph00472</string>
      <string>glyph00817</string>
      <string>glyph00888</string>
      <string>glyph01245</string>
      <string>glyph01269</string>
    </array>
    <key>public.kern1.glyph00477</key>
    <array>
      <string>glyph00477</string>
      <string>glyph00492</string>
      <string>glyph00560</string>
      <string>glyph00815</string>
      <string>glyph00816</string>
      <string>glyph00835</string>
      <string>glyph00836</string>
      <string>glyph00837</string>
      <string>glyph00838</string>
      <string>glyph00839</string>
      <string>glyph00852</string>
      <string>glyph00877</string>
      <string>glyph00878</string>
      <string>glyph00879</string>
      <string>glyph01231</string>
      <string>glyph01265</string>
    </array>
    <key>public.kern1.glyph00480</key>
    <array>
      <string>glyph00480</string>
      <string>glyph00870</string>
      <string>glyph00871</string>
      <string>glyph00872</string>
      <string>glyph00873</string>
    </array>
    <key>public.kern1.glyph00481</key>
    <array>
      <string>glyph00481</string>
      <string>glyph00511</string>
      <string>glyph00526</string>
      <string>glyph00527</string>
      <string>glyph00528</string>
      <string>glyph00869</string>
      <string>glyph01240</string>
      <string>glyph01256</string>
    </array>
    <key>public.kern1.glyph00491</key>
    <array>
      <string>glyph00491</string>
      <string>glyph00493</string>
      <string>glyph00563</string>
      <string>glyph00818</string>
      <string>glyph00819</string>
      <string>glyph00820</string>
      <string>glyph00821</string>
      <string>glyph00822</string>
      <string>glyph00823</string>
      <string>glyph00824</string>
      <string>glyph00845</string>
      <string>glyph00846</string>
      <string>glyph00847</string>
      <string>glyph01227</string>
      <string>glyph01234</string>
      <string>glyph01258</string>
    </array>
    <key>public.kern1.glyph01184</key>
    <array>
      <string>glyph01184</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>omicron</string>
      <string>omicrontonos</string>
      <string>otilde</string>
      <string>uni043E</string>
      <string>uni0473</string>
      <string>uni04E7</string>
      <string>uni04EB</string>
      <string>uni1ECD</string>
      <string>uni1ECF</string>
      <string>uni1ED1</string>
      <string>uni1ED3</string>
      <string>uni1ED5</string>
      <string>uni1ED7</string>
      <string>uni1ED9</string>
      <string>uni1EE1</string>
    </array>
    <key>public.kern1.glyph01186</key>
    <array>
      <string>glyph01186</string>
      <string>glyph01212</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>uni0157</string>
    </array>
    <key>public.kern1.glyph01225</key>
    <array>
      <string>glyph01225</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern1.minute</key>
    <array>
      <string>minute</string>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotereversed</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>second</string>
      <string>uni02BC</string>
    </array>
    <key>public.kern1.uni0409</key>
    <array>
      <string>uni0409</string>
      <string>uni040A</string>
      <string>uni042A</string>
      <string>uni042C</string>
      <string>uni0462</string>
    </array>
    <key>public.kern1.uni040E</key>
    <array>
      <string>uni040E</string>
      <string>uni0423</string>
      <string>uni04EE</string>
      <string>uni04F0</string>
      <string>uni04F2</string>
    </array>
    <key>public.kern1.uni0433</key>
    <array>
      <string>uni0433</string>
      <string>uni0453</string>
      <string>uni0491</string>
      <string>uni04F7</string>
      <string>uni04FB</string>
    </array>
    <key>public.kern1.uni0436</key>
    <array>
      <string>uni0436</string>
      <string>uni0445</string>
      <string>uni0497</string>
      <string>uni04B3</string>
      <string>uni04C2</string>
      <string>uni04DD</string>
      <string>uni04FD</string>
      <string>x</string>
    </array>
    <key>public.kern1.uni044A</key>
    <array>
      <string>uni044A</string>
      <string>uni044C</string>
      <string>uni0459</string>
      <string>uni045A</string>
      <string>uni0463</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Alpha</string>
      <string>Alphatonos</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>Lambda</string>
      <string>glyph01177</string>
      <string>uni0394</string>
      <string>uni0410</string>
      <string>uni0466</string>
      <string>uni04D0</string>
      <string>uni04D2</string>
      <string>uni1E00</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>OE</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohorn</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Omicron</string>
      <string>Omicrontonos</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>Theta</string>
      <string>glyph00581</string>
      <string>glyph00582</string>
      <string>glyph00584</string>
      <string>glyph00585</string>
      <string>glyph01183</string>
      <string>glyph01208</string>
      <string>uni0122</string>
      <string>uni0404</string>
      <string>uni041E</string>
      <string>uni0421</string>
      <string>uni0460</string>
      <string>uni0472</string>
      <string>uni0478</string>
      <string>uni047A</string>
      <string>uni047C</string>
      <string>uni047E</string>
      <string>uni0480</string>
      <string>uni04A8</string>
      <string>uni04AA</string>
      <string>uni04E6</string>
      <string>uni04E8</string>
      <string>uni04EA</string>
      <string>uni050C</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
      <string>uni1EDA</string>
      <string>uni1EDC</string>
      <string>uni1EDE</string>
      <string>uni1EE0</string>
      <string>uni1EE2</string>
    </array>
    <key>public.kern2.Chi</key>
    <array>
      <string>Chi</string>
      <string>X</string>
      <string>uni0416</string>
      <string>uni0425</string>
      <string>uni0496</string>
      <string>uni04B2</string>
      <string>uni04C1</string>
      <string>uni04DC</string>
      <string>uni04FC</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>uni0408</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>glyph01213</string>
      <string>uni0218</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>glyph01215</string>
      <string>uni0162</string>
      <string>uni021A</string>
      <string>uni0402</string>
      <string>uni040B</string>
      <string>uni0422</string>
      <string>uni04A0</string>
      <string>uni04AC</string>
      <string>uni04B4</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>glyph01217</string>
      <string>uni1EE4</string>
      <string>uni1EE6</string>
    </array>
    <key>public.kern2.Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilondieresis</string>
      <string>Upsilontonos</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni04AE</string>
      <string>uni04B0</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>glyph01218</string>
      <string>glyph01220</string>
      <string>uni0474</string>
      <string>uni0476</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>glyph01222</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zeta</string>
      <string>glyph01224</string>
    </array>
    <key>public.kern2._empty_lu.1_st.1_cl.0</key>
    <array/>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>glyph01178</string>
      <string>uni0430</string>
      <string>uni04D1</string>
      <string>uni04D3</string>
      <string>uni1E01</string>
      <string>uni1EA1</string>
      <string>uni1EA3</string>
      <string>uni1EA5</string>
      <string>uni1EA7</string>
      <string>uni1EA9</string>
      <string>uni1EAB</string>
      <string>uni1EAD</string>
      <string>uni1EAF</string>
      <string>uni1EB1</string>
      <string>uni1EB3</string>
      <string>uni1EB5</string>
      <string>uni1EB7</string>
    </array>
    <key>public.kern2.alpha</key>
    <array>
      <string>alpha</string>
      <string>alphatonos</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>dcaron</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gdotaccent</string>
      <string>glyph01180</string>
      <string>glyph01193</string>
      <string>glyph01195</string>
      <string>oe</string>
      <string>ohorn</string>
      <string>q</string>
      <string>sigma</string>
      <string>sigma1</string>
      <string>uni0123</string>
      <string>uni0435</string>
      <string>uni0441</string>
      <string>uni0444</string>
      <string>uni0450</string>
      <string>uni0451</string>
      <string>uni0454</string>
      <string>uni0479</string>
      <string>uni047D</string>
      <string>uni0481</string>
      <string>uni04A9</string>
      <string>uni04AB</string>
      <string>uni04D7</string>
      <string>uni04D9</string>
      <string>uni04DB</string>
      <string>uni04E9</string>
      <string>uni0501</string>
      <string>uni0502</string>
      <string>uni0503</string>
      <string>uni050D</string>
      <string>uni1EB9</string>
      <string>uni1EBB</string>
      <string>uni1EBD</string>
      <string>uni1EBF</string>
      <string>uni1EC1</string>
      <string>uni1EC3</string>
      <string>uni1EC5</string>
      <string>uni1EC7</string>
      <string>uni1EDB</string>
      <string>uni1EDD</string>
      <string>uni1EDF</string>
      <string>uni1EE3</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>twodotenleader</string>
    </array>
    <key>public.kern2.emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>uni00AD</string>
      <string>uni2015</string>
    </array>
    <key>public.kern2.eta</key>
    <array>
      <string>eta</string>
      <string>etatonos</string>
      <string>glyph01176</string>
      <string>glyph01205</string>
      <string>glyph01207</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ntilde</string>
      <string>p</string>
      <string>uni0146</string>
      <string>uni0433</string>
      <string>uni0438</string>
      <string>uni0439</string>
      <string>uni043A</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni043F</string>
      <string>uni0440</string>
      <string>uni0446</string>
      <string>uni0448</string>
      <string>uni0449</string>
      <string>uni044C</string>
      <string>uni044E</string>
      <string>uni0453</string>
      <string>uni045A</string>
      <string>uni045C</string>
      <string>uni045D</string>
      <string>uni048B</string>
      <string>uni049B</string>
      <string>uni04A3</string>
      <string>uni04A5</string>
      <string>uni04C8</string>
      <string>uni04CA</string>
      <string>uni04CE</string>
      <string>uni04E3</string>
      <string>uni04E5</string>
      <string>uni04F7</string>
      <string>uni04F9</string>
      <string>uni04FB</string>
      <string>uni1E3F</string>
    </array>
    <key>public.kern2.gamma</key>
    <array>
      <string>gamma</string>
      <string>glyph01219</string>
      <string>glyph01221</string>
      <string>nu</string>
      <string>uni0443</string>
      <string>uni045E</string>
      <string>uni0475</string>
      <string>uni0477</string>
      <string>uni04AF</string>
      <string>uni04EF</string>
      <string>uni04F1</string>
      <string>uni04F3</string>
      <string>uni1EF5</string>
      <string>uni1EF7</string>
      <string>uni1EF9</string>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.glyph00449</key>
    <array>
      <string>glyph00449</string>
      <string>glyph01214</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>uni0219</string>
      <string>uni0455</string>
    </array>
    <key>public.kern2.glyph00467</key>
    <array>
      <string>glyph00467</string>
      <string>glyph00530</string>
      <string>glyph00844</string>
      <string>glyph00897</string>
      <string>glyph00898</string>
      <string>glyph01232</string>
      <string>glyph01246</string>
      <string>glyph01249</string>
      <string>glyph01274</string>
    </array>
    <key>public.kern2.glyph00468</key>
    <array>
      <string>glyph00468</string>
      <string>glyph00508</string>
      <string>glyph00525</string>
      <string>glyph00531</string>
      <string>glyph01247</string>
      <string>glyph01270</string>
    </array>
    <key>public.kern2.glyph00469</key>
    <array>
      <string>glyph00469</string>
      <string>glyph00896</string>
    </array>
    <key>public.kern2.glyph00471</key>
    <array>
      <string>glyph00471</string>
      <string>glyph00840</string>
      <string>glyph00841</string>
      <string>glyph00842</string>
      <string>glyph00843</string>
      <string>glyph00890</string>
      <string>glyph00891</string>
      <string>glyph00892</string>
      <string>glyph00893</string>
      <string>glyph00894</string>
      <string>glyph00895</string>
    </array>
    <key>public.kern2.glyph00472</key>
    <array>
      <string>glyph00472</string>
      <string>glyph00500</string>
      <string>glyph00504</string>
      <string>glyph00528</string>
      <string>glyph00532</string>
      <string>glyph00888</string>
      <string>glyph01269</string>
    </array>
    <key>public.kern2.glyph00473</key>
    <array>
      <string>glyph00473</string>
      <string>glyph00883</string>
      <string>glyph00884</string>
      <string>glyph00885</string>
      <string>glyph00886</string>
    </array>
    <key>public.kern2.glyph00475</key>
    <array>
      <string>glyph00475</string>
      <string>glyph00477</string>
      <string>glyph00485</string>
      <string>glyph00492</string>
      <string>glyph00501</string>
      <string>glyph00529</string>
      <string>glyph00538</string>
      <string>glyph00561</string>
      <string>glyph00825</string>
      <string>glyph00835</string>
      <string>glyph00836</string>
      <string>glyph00837</string>
      <string>glyph00838</string>
      <string>glyph00839</string>
      <string>glyph00848</string>
      <string>glyph00849</string>
      <string>glyph00850</string>
      <string>glyph00851</string>
      <string>glyph00858</string>
      <string>glyph00859</string>
      <string>glyph00860</string>
      <string>glyph00861</string>
      <string>glyph00877</string>
      <string>glyph00878</string>
      <string>glyph00879</string>
      <string>glyph01231</string>
      <string>glyph01265</string>
      <string>glyph01268</string>
      <string>glyph01273</string>
    </array>
    <key>public.kern2.glyph00491</key>
    <array>
      <string>glyph00491</string>
      <string>glyph00493</string>
      <string>glyph00563</string>
      <string>glyph00818</string>
      <string>glyph00819</string>
      <string>glyph00820</string>
      <string>glyph00821</string>
      <string>glyph00822</string>
      <string>glyph00823</string>
      <string>glyph00824</string>
      <string>glyph00845</string>
      <string>glyph00846</string>
      <string>glyph00847</string>
      <string>glyph01227</string>
      <string>glyph01234</string>
      <string>glyph01258</string>
    </array>
    <key>public.kern2.glyph01184</key>
    <array>
      <string>glyph01184</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>omicron</string>
      <string>omicrontonos</string>
      <string>otilde</string>
      <string>uni043E</string>
      <string>uni0473</string>
      <string>uni04E7</string>
      <string>uni04EB</string>
      <string>uni1ECD</string>
      <string>uni1ECF</string>
      <string>uni1ED1</string>
      <string>uni1ED3</string>
      <string>uni1ED5</string>
      <string>uni1ED7</string>
      <string>uni1ED9</string>
      <string>uni1EE1</string>
    </array>
    <key>public.kern2.glyph01188</key>
    <array>
      <string>glyph01188</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhorn</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uni1EE5</string>
      <string>uni1EE7</string>
      <string>uni1EE9</string>
      <string>uni1EEB</string>
      <string>uni1EED</string>
      <string>uni1EEF</string>
      <string>uni1EF1</string>
      <string>uogonek</string>
      <string>upsilon</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
      <string>upsilontonos</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern2.glyph01225</key>
    <array>
      <string>glyph01225</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.minute</key>
    <array>
      <string>minute</string>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotereversed</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>second</string>
      <string>uni02BC</string>
    </array>
    <key>public.kern2.uni0409</key>
    <array>
      <string>uni0409</string>
      <string>uni041B</string>
      <string>uni04C5</string>
      <string>uni0508</string>
      <string>uni0512</string>
    </array>
    <key>public.kern2.uni040E</key>
    <array>
      <string>uni040E</string>
      <string>uni0423</string>
      <string>uni04EE</string>
      <string>uni04F0</string>
      <string>uni04F2</string>
    </array>
    <key>public.kern2.uni0427</key>
    <array>
      <string>uni0427</string>
      <string>uni04B6</string>
      <string>uni04CB</string>
      <string>uni04F4</string>
    </array>
    <key>public.kern2.uni0436</key>
    <array>
      <string>uni0436</string>
      <string>uni0445</string>
      <string>uni0497</string>
      <string>uni04B3</string>
      <string>uni04C2</string>
      <string>uni04DD</string>
      <string>uni04FD</string>
      <string>x</string>
    </array>
    <key>public.kern2.uni043B</key>
    <array>
      <string>uni043B</string>
      <string>uni0459</string>
      <string>uni04C6</string>
      <string>uni0513</string>
    </array>
    <key>public.kern2.uni0447</key>
    <array>
      <string>uni0447</string>
      <string>uni04B7</string>
      <string>uni04CC</string>
      <string>uni04F5</string>
    </array>
  </dict>
</plist>
