<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A.smcp</key>
    <array>
      <string>A.smcp</string>
      <string>Aacute.smcp</string>
      <string>Abreve.smcp</string>
      <string>Acircumflex.smcp</string>
      <string>Adieresis.smcp</string>
      <string>Agrave.smcp</string>
      <string>Alpha.smcp</string>
      <string>Alphatonos.smcp</string>
      <string>Amacron.smcp</string>
      <string>Aogonek.smcp</string>
      <string>Aring.smcp</string>
      <string>Aringacute.smcp</string>
      <string>Atilde.smcp</string>
      <string>Delta.smcp</string>
      <string>Lambda.smcp</string>
      <string>uni0410.smcp</string>
    </array>
    <key>public.kern1.A_UC</key>
    <array>
      <string>A</string>
      <string>Acaron</string>
      <string>Alpha</string>
      <string>Alphatonos</string>
      <string>Aogonek</string>
      <string>Aringacute</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>uni01DE</string>
      <string>uni01E0</string>
      <string>uni0200</string>
      <string>uni0202</string>
      <string>uni0226</string>
      <string>uni0245</string>
      <string>uni0410</string>
      <string>uni0466</string>
      <string>uni04D0</string>
      <string>uni04D2</string>
      <string>uni1E00</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
      <string>uni1F08</string>
      <string>uni1F09</string>
      <string>uni1F0A</string>
      <string>uni1F0B</string>
      <string>uni1F0C</string>
      <string>uni1F0D</string>
      <string>uni1F0E</string>
      <string>uni1F0F</string>
      <string>uni1F88</string>
      <string>uni1F89</string>
      <string>uni1F8A</string>
      <string>uni1F8B</string>
      <string>uni1F8C</string>
      <string>uni1F8D</string>
      <string>uni1F8E</string>
      <string>uni1F8F</string>
      <string>uni1FB8</string>
      <string>uni1FB9</string>
      <string>uni1FBA</string>
      <string>uni1FBB</string>
      <string>uni1FBC</string>
      <string>uniA656</string>
      <string>uniA658</string>
      <string>uniA732</string>
    </array>
    <key>public.kern1.B_UC</key>
    <array>
      <string>B</string>
      <string>Beta</string>
      <string>uni0243</string>
      <string>uni0412</string>
      <string>uni1E02</string>
      <string>uni1E04</string>
      <string>uni1E06</string>
      <string>uniA796</string>
    </array>
    <key>public.kern1.C_UC</key>
    <array>
      <string>C</string>
      <string>C.ss06</string>
      <string>uni03F9</string>
      <string>uni03FE</string>
      <string>uni0421</string>
      <string>uni04AA</string>
      <string>uni1E08</string>
      <string>uniA792</string>
    </array>
    <key>public.kern1.Chi</key>
    <array>
      <string>Chi</string>
      <string>X</string>
      <string>uni0416</string>
      <string>uni0425</string>
      <string>uni0496</string>
      <string>uni04B2</string>
      <string>uni04C1</string>
      <string>uni04DC</string>
      <string>uni04FC</string>
      <string>uni0514</string>
      <string>uni0516</string>
      <string>uni1E8A</string>
      <string>uni1E8C</string>
    </array>
    <key>public.kern1.D.smcp</key>
    <array>
      <string>D.smcp</string>
      <string>Dcaron.smcp</string>
      <string>Dcroat.smcp</string>
      <string>Eth.smcp</string>
      <string>O.smcp</string>
      <string>Oacute.smcp</string>
      <string>Obreve.smcp</string>
      <string>Ocircumflex.smcp</string>
      <string>Odieresis.smcp</string>
      <string>Ograve.smcp</string>
      <string>Ohungarumlaut.smcp</string>
      <string>Omacron.smcp</string>
      <string>Omicrontonos.smcp</string>
      <string>Oogonek.smcp</string>
      <string>Otilde.smcp</string>
      <string>Theta.smcp</string>
      <string>uni041E.smcp</string>
    </array>
    <key>public.kern1.D_UC</key>
    <array>
      <string>D</string>
      <string>D.ss06</string>
      <string>Dbar1</string>
      <string>Dcroat</string>
      <string>Dhook</string>
      <string>Eth</string>
      <string>O</string>
      <string>O.ss06</string>
      <string>Obar</string>
      <string>Ocaron</string>
      <string>Omicron</string>
      <string>Omicrontonos</string>
      <string>Oogonek</string>
      <string>Oopen</string>
      <string>Schwa</string>
      <string>Theta</string>
      <string>uni01EC</string>
      <string>uni020C</string>
      <string>uni020E</string>
      <string>uni022A</string>
      <string>uni022C</string>
      <string>uni022E</string>
      <string>uni0230</string>
      <string>uni03D8</string>
      <string>uni03FD</string>
      <string>uni03FF</string>
      <string>uni041E</string>
      <string>uni04D8</string>
      <string>uni04E6</string>
      <string>uni1E0A</string>
      <string>uni1E0C</string>
      <string>uni1E0E</string>
      <string>uni1E10</string>
      <string>uni1E12</string>
      <string>uni1E4C</string>
      <string>uni1E4E</string>
      <string>uni1E50</string>
      <string>uni1E52</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
      <string>uni1F48</string>
      <string>uni1F49</string>
      <string>uni1F4A</string>
      <string>uni1F4B</string>
      <string>uni1F4C</string>
      <string>uni1F4D</string>
      <string>uni1FF8</string>
      <string>uni1FF9</string>
      <string>uni2C70</string>
      <string>uniA64C</string>
      <string>uniA668</string>
      <string>uniA66A</string>
      <string>uniA66C</string>
      <string>uniA698</string>
      <string>uniA69A</string>
      <string>uniA734</string>
      <string>uniA73E</string>
      <string>uniA74E</string>
    </array>
    <key>public.kern1.Dtopbar</key>
    <array>
      <string>Dtopbar</string>
      <string>Eta</string>
      <string>Etatonos</string>
      <string>Eturn</string>
      <string>H</string>
      <string>I</string>
      <string>Icaron</string>
      <string>Iogonek</string>
      <string>Iota</string>
      <string>Iota1</string>
      <string>Iotadieresis</string>
      <string>Iotatonos</string>
      <string>M</string>
      <string>Mu</string>
      <string>N</string>
      <string>Nhook</string>
      <string>Nu</string>
      <string>OI</string>
      <string>mcapturn</string>
      <string>uni01F8</string>
      <string>uni0208</string>
      <string>uni020A</string>
      <string>uni021E</string>
      <string>uni0376</string>
      <string>uni03FA</string>
      <string>uni0406</string>
      <string>uni0407</string>
      <string>uni040F</string>
      <string>uni0418</string>
      <string>uni041B</string>
      <string>uni041C</string>
      <string>uni041D</string>
      <string>uni0426</string>
      <string>uni0427</string>
      <string>uni0428</string>
      <string>uni0429</string>
      <string>uni042B</string>
      <string>uni04A2</string>
      <string>uni04C0</string>
      <string>uni04C9</string>
      <string>uni04CD</string>
      <string>uni04CF</string>
      <string>uni0524</string>
      <string>uni0528</string>
      <string>uni1E22</string>
      <string>uni1E24</string>
      <string>uni1E26</string>
      <string>uni1E2A</string>
      <string>uni1E2C</string>
      <string>uni1E2E</string>
      <string>uni1E3E</string>
      <string>uni1E40</string>
      <string>uni1E42</string>
      <string>uni1E44</string>
      <string>uni1E46</string>
      <string>uni1E48</string>
      <string>uni1E4A</string>
      <string>uni1EC8</string>
      <string>uni1ECA</string>
      <string>uni1F28</string>
      <string>uni1F29</string>
      <string>uni1F2A</string>
      <string>uni1F2B</string>
      <string>uni1F2C</string>
      <string>uni1F2D</string>
      <string>uni1F2E</string>
      <string>uni1F2F</string>
      <string>uni1F98</string>
      <string>uni1F99</string>
      <string>uni1F9A</string>
      <string>uni1F9B</string>
      <string>uni1F9C</string>
      <string>uni1F9D</string>
      <string>uni1F9E</string>
      <string>uni1F9F</string>
      <string>uni1FCA</string>
      <string>uni1FCB</string>
      <string>uni1FCC</string>
      <string>uni2C67</string>
      <string>uni2C6E</string>
      <string>uniA660</string>
      <string>uniA790</string>
      <string>uniA7AA</string>
    </array>
    <key>public.kern1.E_UC</key>
    <array>
      <string>E</string>
      <string>Eogonek</string>
      <string>Epsilon</string>
      <string>Epsilontonos</string>
      <string>uni0204</string>
      <string>uni0206</string>
      <string>uni0228</string>
      <string>uni0400</string>
      <string>uni0401</string>
      <string>uni0415</string>
      <string>uni04D6</string>
      <string>uni0518</string>
      <string>uni1E14</string>
      <string>uni1E16</string>
      <string>uni1E18</string>
      <string>uni1E1A</string>
      <string>uni1E1C</string>
      <string>uni1EB8</string>
      <string>uni1EBA</string>
      <string>uni1EBC</string>
      <string>uni1EBE</string>
      <string>uni1EC0</string>
      <string>uni1EC2</string>
      <string>uni1EC4</string>
      <string>uni1EC6</string>
      <string>uni1F18</string>
      <string>uni1F19</string>
      <string>uni1F1A</string>
      <string>uni1F1B</string>
      <string>uni1F1C</string>
      <string>uni1F1D</string>
      <string>uni1FC8</string>
      <string>uni1FC9</string>
    </array>
    <key>public.kern1.Gamma</key>
    <array>
      <string>Gamma</string>
      <string>uni0403</string>
      <string>uni0413</string>
      <string>uni0490</string>
      <string>uni0492</string>
      <string>uni04F6</string>
    </array>
    <key>public.kern1.J_UC</key>
    <array>
      <string>J</string>
      <string>U</string>
      <string>Ucaron</string>
      <string>Uogonek</string>
      <string>uni01D5</string>
      <string>uni01D7</string>
      <string>uni01D9</string>
      <string>uni01DB</string>
      <string>uni0408</string>
      <string>uni1E72</string>
      <string>uni1E74</string>
      <string>uni1E76</string>
      <string>uni1E78</string>
      <string>uni1E7A</string>
      <string>uni1EE4</string>
      <string>uni1EE6</string>
      <string>uniA736</string>
    </array>
    <key>public.kern1.K.smcp</key>
    <array>
      <string>K.smcp</string>
      <string>Kappa.smcp</string>
      <string>Kcommaaccent.smcp</string>
      <string>uni040C.smcp</string>
      <string>uni041A.smcp</string>
      <string>uni049A.smcp</string>
      <string>uni049C.smcp</string>
      <string>uni04A0.smcp</string>
    </array>
    <key>public.kern1.K_UC</key>
    <array>
      <string>K</string>
      <string>Kappa</string>
      <string>Khook</string>
      <string>uni03CF</string>
      <string>uni040C</string>
      <string>uni041A</string>
      <string>uni049A</string>
      <string>uni049C</string>
      <string>uni049E</string>
      <string>uni04A0</string>
      <string>uni051E</string>
      <string>uni052A</string>
      <string>uni1E30</string>
      <string>uni1E32</string>
      <string>uni1E34</string>
      <string>uni2C69</string>
      <string>uniA740</string>
      <string>uniA742</string>
      <string>uniA744</string>
    </array>
    <key>public.kern1.L.smcp</key>
    <array>
      <string>L.smcp</string>
      <string>Lacute.smcp</string>
      <string>Lcaron.smcp</string>
      <string>Lcommaaccent.smcp</string>
      <string>Ldot.smcp</string>
    </array>
    <key>public.kern1.L_UC</key>
    <array>
      <string>L</string>
      <string>Lcaron</string>
      <string>Ldot</string>
      <string>uni023D</string>
      <string>uni1E36</string>
      <string>uni1E38</string>
      <string>uni1E3A</string>
      <string>uni1E3C</string>
      <string>uni1EFA</string>
    </array>
    <key>public.kern1.P_UC</key>
    <array>
      <string>P</string>
      <string>Phook</string>
      <string>Rho</string>
      <string>uni0420</string>
      <string>uni1E54</string>
      <string>uni1E56</string>
      <string>uni1FEC</string>
      <string>uni2C63</string>
      <string>uniA750</string>
      <string>uniA752</string>
      <string>uniA754</string>
    </array>
    <key>public.kern1.T.smcp</key>
    <array>
      <string>T.smcp</string>
      <string>Tau.smcp</string>
      <string>Tbar.smcp</string>
      <string>Tcaron.smcp</string>
      <string>uni0422.smcp</string>
    </array>
    <key>public.kern1.T_UC</key>
    <array>
      <string>T</string>
      <string>Tau</string>
      <string>Tbar</string>
      <string>Trthook</string>
      <string>uni0422</string>
      <string>uni04AC</string>
      <string>uni1E6A</string>
      <string>uni1E6C</string>
      <string>uni1E6E</string>
      <string>uni1E70</string>
      <string>uniA664</string>
      <string>uniA666</string>
      <string>uniA68C</string>
      <string>uniA690</string>
    </array>
    <key>public.kern1.Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilondieresis</string>
      <string>Upsilontonos</string>
      <string>Y</string>
      <string>uni024E</string>
      <string>uni04AE</string>
      <string>uni04B0</string>
      <string>uni1E8E</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
      <string>uni1FE8</string>
      <string>uni1FE9</string>
      <string>uni1FEA</string>
      <string>uni1FEB</string>
    </array>
    <key>public.kern1.V_UC</key>
    <array>
      <string>V</string>
      <string>uni0474</string>
      <string>uni0476</string>
      <string>uni1E7C</string>
      <string>uni1E7E</string>
      <string>uniA738</string>
      <string>uniA73A</string>
      <string>uniA75E</string>
    </array>
    <key>public.kern1.W_UC</key>
    <array>
      <string>W</string>
      <string>uni051C</string>
      <string>uni1E86</string>
      <string>uni1E88</string>
    </array>
    <key>public.kern1.Z_UC</key>
    <array>
      <string>Z</string>
      <string>Zeta</string>
      <string>uni01C4</string>
      <string>uni01F1</string>
      <string>uni1E90</string>
      <string>uni1E92</string>
      <string>uni1E94</string>
      <string>uni2C6B</string>
      <string>uniA640</string>
      <string>uniA642</string>
    </array>
    <key>public.kern1.a_LC</key>
    <array>
      <string>a</string>
      <string>acaron</string>
      <string>aogonek</string>
      <string>aringacute</string>
      <string>uni01DF</string>
      <string>uni01E1</string>
      <string>uni0201</string>
      <string>uni0203</string>
      <string>uni0227</string>
      <string>uni0430</string>
      <string>uni04D1</string>
      <string>uni04D3</string>
      <string>uni1E01</string>
      <string>uni1EA1</string>
      <string>uni1EA3</string>
      <string>uni1EA5</string>
      <string>uni1EA7</string>
      <string>uni1EA9</string>
      <string>uni1EAB</string>
      <string>uni1EAD</string>
      <string>uni1EAF</string>
      <string>uni1EB1</string>
      <string>uni1EB3</string>
      <string>uni1EB5</string>
      <string>uni1EB7</string>
      <string>uni2C65</string>
      <string>uniA657</string>
    </array>
    <key>public.kern1.aemacron</key>
    <array>
      <string>aemacron</string>
      <string>e</string>
      <string>eogonek</string>
      <string>uni0435</string>
      <string>uni0450</string>
      <string>uni0451</string>
      <string>uni04D7</string>
      <string>uni04D9</string>
      <string>uni04DB</string>
      <string>uni0519</string>
      <string>uni1E15</string>
      <string>uni1E17</string>
      <string>uni1E19</string>
      <string>uni1E1B</string>
      <string>uni1E1D</string>
      <string>uni1EB9</string>
      <string>uni1EBB</string>
      <string>uni1EBD</string>
      <string>uni1EBF</string>
      <string>uni1EC1</string>
      <string>uni1EC3</string>
      <string>uni1EC5</string>
      <string>uni1EC7</string>
    </array>
    <key>public.kern1.b_LC</key>
    <array>
      <string>b</string>
      <string>bbar</string>
      <string>btopbar</string>
      <string>p</string>
      <string>rho</string>
      <string>rho1</string>
      <string>thorn</string>
      <string>tonesix</string>
      <string>uni0238</string>
      <string>uni0239</string>
      <string>uni037B</string>
      <string>uni037D</string>
      <string>uni03F6</string>
      <string>uni03F8</string>
      <string>uni03FC</string>
      <string>uni0440</string>
      <string>uni0444</string>
      <string>uni044D</string>
      <string>uni048F</string>
      <string>uni04ED</string>
      <string>uni1E03</string>
      <string>uni1E05</string>
      <string>uni1E07</string>
      <string>uni1E55</string>
      <string>uni1E57</string>
      <string>uni1FE4</string>
      <string>uni1FE5</string>
      <string>uniA751</string>
      <string>uniA753</string>
      <string>uniA755</string>
      <string>uniA765</string>
      <string>uniA767</string>
      <string>uniA797</string>
    </array>
    <key>public.kern1.c_LC</key>
    <array>
      <string>c</string>
      <string>uni037C</string>
      <string>uni03F2</string>
      <string>uni0441</string>
      <string>uni04AB</string>
      <string>uni1E09</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>uni2025</string>
    </array>
    <key>public.kern1.eta</key>
    <array>
      <string>eta</string>
      <string>etatonos</string>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>napostrophe</string>
      <string>uni01F9</string>
      <string>uni04BB</string>
      <string>uni1E23</string>
      <string>uni1E25</string>
      <string>uni1E27</string>
      <string>uni1E2B</string>
      <string>uni1E3F</string>
      <string>uni1E41</string>
      <string>uni1E43</string>
      <string>uni1E45</string>
      <string>uni1E47</string>
      <string>uni1E49</string>
      <string>uni1E4B</string>
      <string>uni1F20</string>
      <string>uni1F21</string>
      <string>uni1F22</string>
      <string>uni1F23</string>
      <string>uni1F24</string>
      <string>uni1F25</string>
      <string>uni1F26</string>
      <string>uni1F27</string>
      <string>uni1F74</string>
      <string>uni1F75</string>
      <string>uni1FC2</string>
      <string>uni1FC3</string>
      <string>uni1FC4</string>
      <string>uni1FC6</string>
      <string>uni1FC7</string>
      <string>uni2C68</string>
      <string>uniA695</string>
      <string>uniA727</string>
      <string>uniA783</string>
    </array>
    <key>public.kern1.gamma</key>
    <array>
      <string>gamma</string>
      <string>nu</string>
      <string>uni0443</string>
      <string>uni045E</string>
      <string>uni0475</string>
      <string>uni0477</string>
      <string>uni04AF</string>
      <string>uni04EF</string>
      <string>uni04F1</string>
      <string>uni04F3</string>
      <string>uni1E7D</string>
      <string>uni1E7F</string>
      <string>uni1E8F</string>
      <string>uni1E99</string>
      <string>uni1EF5</string>
      <string>uni1EF7</string>
      <string>uni1EF9</string>
      <string>uni2C74</string>
      <string>uniA739</string>
      <string>uniA73B</string>
      <string>uniA73D</string>
      <string>uniA75F</string>
      <string>v</string>
      <string>y</string>
    </array>
    <key>public.kern1.minute</key>
    <array>
      <string>minute</string>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotereversed</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>second</string>
      <string>uni02BC</string>
    </array>
    <key>public.kern1.o_LC</key>
    <array>
      <string>o</string>
      <string>obar</string>
      <string>ocaron</string>
      <string>omicron</string>
      <string>omicrontonos</string>
      <string>oogonek</string>
      <string>uni01ED</string>
      <string>uni020D</string>
      <string>uni020F</string>
      <string>uni022B</string>
      <string>uni022D</string>
      <string>uni022F</string>
      <string>uni0231</string>
      <string>uni03D9</string>
      <string>uni043E</string>
      <string>uni0473</string>
      <string>uni04E7</string>
      <string>uni04EB</string>
      <string>uni1E4D</string>
      <string>uni1E4F</string>
      <string>uni1E51</string>
      <string>uni1E53</string>
      <string>uni1ECD</string>
      <string>uni1ECF</string>
      <string>uni1ED1</string>
      <string>uni1ED3</string>
      <string>uni1ED5</string>
      <string>uni1ED7</string>
      <string>uni1ED9</string>
      <string>uni1EE1</string>
      <string>uni1F40</string>
      <string>uni1F41</string>
      <string>uni1F42</string>
      <string>uni1F43</string>
      <string>uni1F44</string>
      <string>uni1F45</string>
      <string>uni1F78</string>
      <string>uni1F79</string>
      <string>uni2C7A</string>
      <string>uniA669</string>
      <string>uniA66B</string>
      <string>uniA66D</string>
      <string>uniA699</string>
      <string>uniA74F</string>
    </array>
    <key>public.kern1.r_LC</key>
    <array>
      <string>r</string>
      <string>uni0211</string>
      <string>uni0213</string>
      <string>uni024D</string>
      <string>uni1E59</string>
      <string>uni1E5B</string>
      <string>uni1E5D</string>
      <string>uni1E5F</string>
    </array>
    <key>public.kern1.uni0409</key>
    <array>
      <string>uni0409</string>
      <string>uni040A</string>
      <string>uni042A</string>
      <string>uni042C</string>
      <string>uni0462</string>
      <string>uniA64E</string>
      <string>uniA652</string>
    </array>
    <key>public.kern1.uni040E</key>
    <array>
      <string>uni040E</string>
      <string>uni0423</string>
      <string>uni04EE</string>
      <string>uni04F0</string>
      <string>uni04F2</string>
    </array>
    <key>public.kern1.uni0433</key>
    <array>
      <string>uni0433</string>
      <string>uni0453</string>
      <string>uni0491</string>
      <string>uni04F7</string>
      <string>uni04FB</string>
      <string>uniA665</string>
      <string>uniA667</string>
      <string>uniA68D</string>
      <string>uniA691</string>
    </array>
    <key>public.kern1.uni044A</key>
    <array>
      <string>uni044A</string>
      <string>uni044C</string>
      <string>uni0459</string>
      <string>uni045A</string>
      <string>uni0463</string>
      <string>uniA64F</string>
      <string>uniA653</string>
    </array>
    <key>public.kern1.x_LC</key>
    <array>
      <string>x</string>
      <string>uni0436</string>
      <string>uni0445</string>
      <string>uni0497</string>
      <string>uni04B3</string>
      <string>uni04C2</string>
      <string>uni04DD</string>
      <string>uni04FD</string>
      <string>uni0515</string>
      <string>uni0517</string>
      <string>uni1E8B</string>
      <string>uni1E8D</string>
    </array>
    <key>public.kern1.z_LC</key>
    <array>
      <string>z</string>
      <string>zbar</string>
      <string>uni01C5</string>
      <string>uni01C6</string>
      <string>uni01F2</string>
      <string>uni01F3</string>
      <string>uni1E91</string>
      <string>uni1E93</string>
      <string>uni1E95</string>
      <string>uni2C6C</string>
      <string>uniA641</string>
      <string>uniA643</string>
    </array>
    <key>public.kern2.A.smcp</key>
    <array>
      <string>A.smcp</string>
      <string>Aacute.smcp</string>
      <string>Abreve.smcp</string>
      <string>Acircumflex.smcp</string>
      <string>Adieresis.smcp</string>
      <string>Agrave.smcp</string>
      <string>Alpha.smcp</string>
      <string>Alphatonos.smcp</string>
      <string>Amacron.smcp</string>
      <string>Aogonek.smcp</string>
      <string>Aring.smcp</string>
      <string>Aringacute.smcp</string>
      <string>Atilde.smcp</string>
      <string>Delta.smcp</string>
      <string>Lambda.smcp</string>
      <string>uni0410.smcp</string>
    </array>
    <key>public.kern2.A_UC</key>
    <array>
      <string>A</string>
      <string>Acaron</string>
      <string>Alpha</string>
      <string>Alphatonos</string>
      <string>Aogonek</string>
      <string>Aringacute</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>uni01DE</string>
      <string>uni01E0</string>
      <string>uni0200</string>
      <string>uni0202</string>
      <string>uni0226</string>
      <string>uni0245</string>
      <string>uni0410</string>
      <string>uni0466</string>
      <string>uni04D0</string>
      <string>uni04D2</string>
      <string>uni1E00</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
      <string>uni1FB8</string>
      <string>uni1FB9</string>
      <string>uni1FBC</string>
      <string>uniA658</string>
      <string>uniA732</string>
      <string>uniA734</string>
      <string>uniA738</string>
      <string>uniA73A</string>
      <string>uniA73C</string>
    </array>
    <key>public.kern2.C.smcp</key>
    <array>
      <string>C.smcp</string>
      <string>Cacute.smcp</string>
      <string>Ccaron.smcp</string>
      <string>Ccedilla.smcp</string>
      <string>Ccircumflex.smcp</string>
      <string>G.smcp</string>
      <string>Gbreve.smcp</string>
      <string>Gcircumflex.smcp</string>
      <string>Gcommaaccent.smcp</string>
      <string>O.smcp</string>
      <string>Oacute.smcp</string>
      <string>Obreve.smcp</string>
      <string>Ocircumflex.smcp</string>
      <string>Odieresis.smcp</string>
      <string>Ograve.smcp</string>
      <string>Ohungarumlaut.smcp</string>
      <string>Omacron.smcp</string>
      <string>Omicrontonos.smcp</string>
      <string>Oogonek.smcp</string>
      <string>Otilde.smcp</string>
      <string>Q.smcp</string>
      <string>Theta.smcp</string>
      <string>uni010A.smcp</string>
      <string>uni0120.smcp</string>
      <string>uni0404.smcp</string>
      <string>uni041E.smcp</string>
      <string>uni0421.smcp</string>
      <string>uni04A8.smcp</string>
      <string>uni04AA.smcp</string>
      <string>uni04E8.smcp</string>
    </array>
    <key>public.kern2.C_UC</key>
    <array>
      <string>C</string>
      <string>C.ss06</string>
      <string>Chook</string>
      <string>G</string>
      <string>G.ss06</string>
      <string>Ghook</string>
      <string>O</string>
      <string>O.ss06</string>
      <string>OE</string>
      <string>OI</string>
      <string>Obar</string>
      <string>Ocaron</string>
      <string>Ohorn</string>
      <string>Omicron</string>
      <string>Omicrontonos</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Q</string>
      <string>Q.ss06</string>
      <string>Stigma</string>
      <string>Theta</string>
      <string>uni01EC</string>
      <string>uni020C</string>
      <string>uni020E</string>
      <string>uni022A</string>
      <string>uni022C</string>
      <string>uni022E</string>
      <string>uni0230</string>
      <string>uni024A</string>
      <string>uni03D8</string>
      <string>uni03FE</string>
      <string>uni0404</string>
      <string>uni041E</string>
      <string>uni0421</string>
      <string>uni0460</string>
      <string>uni0472</string>
      <string>uni0478</string>
      <string>uni047A</string>
      <string>uni047C</string>
      <string>uni047E</string>
      <string>uni0480</string>
      <string>uni04A8</string>
      <string>uni04AA</string>
      <string>uni04E6</string>
      <string>uni04E8</string>
      <string>uni04EA</string>
      <string>uni050C</string>
      <string>uni051A</string>
      <string>uni1E08</string>
      <string>uni1E20</string>
      <string>uni1E4C</string>
      <string>uni1E4E</string>
      <string>uni1E50</string>
      <string>uni1E52</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
      <string>uni1EDA</string>
      <string>uni1EDC</string>
      <string>uni1EDE</string>
      <string>uni1EE0</string>
      <string>uni1EE2</string>
      <string>uni2C6D</string>
      <string>uniA64C</string>
      <string>uniA654</string>
      <string>uniA668</string>
      <string>uniA66A</string>
      <string>uniA66C</string>
      <string>uniA698</string>
      <string>uniA69A</string>
      <string>uniA74C</string>
      <string>uniA74E</string>
      <string>uniA756</string>
      <string>uniA758</string>
      <string>uniA7AC</string>
    </array>
    <key>public.kern2.Chi</key>
    <array>
      <string>Chi</string>
      <string>X</string>
      <string>uni0416</string>
      <string>uni0425</string>
      <string>uni0496</string>
      <string>uni04B2</string>
      <string>uni04C1</string>
      <string>uni04DC</string>
      <string>uni04FC</string>
      <string>uni1E8A</string>
      <string>uni1E8C</string>
    </array>
    <key>public.kern2.Chi.smcp</key>
    <array>
      <string>Chi.smcp</string>
      <string>X.smcp</string>
      <string>uni0416.smcp</string>
      <string>uni0425.smcp</string>
      <string>uni0496.smcp</string>
      <string>uni04B2.smcp</string>
    </array>
    <key>public.kern2.J_UC</key>
    <array>
      <string>J</string>
      <string>uni037F</string>
      <string>uni0408</string>
    </array>
    <key>public.kern2.S.smcp</key>
    <array>
      <string>S.smcp</string>
      <string>Sacute.smcp</string>
      <string>Scaron.smcp</string>
      <string>Scedilla.smcp</string>
      <string>Scircumflex.smcp</string>
    </array>
    <key>public.kern2.S_UC</key>
    <array>
      <string>S</string>
      <string>uni1E60</string>
      <string>uni1E62</string>
      <string>uni1E64</string>
      <string>uni1E66</string>
      <string>uni1E68</string>
      <string>uni2C7E</string>
    </array>
    <key>public.kern2.T.smcp</key>
    <array>
      <string>T.smcp</string>
      <string>Tcaron.smcp</string>
      <string>uni0402.smcp</string>
      <string>uni040B.smcp</string>
      <string>uni0422.smcp</string>
      <string>uni04A0.smcp</string>
      <string>uni04B4.smcp</string>
    </array>
    <key>public.kern2.T_UC</key>
    <array>
      <string>T</string>
      <string>Trthook</string>
      <string>uni0402</string>
      <string>uni040B</string>
      <string>uni0422</string>
      <string>uni04A0</string>
      <string>uni04AC</string>
      <string>uni04B4</string>
      <string>uni1E6A</string>
      <string>uni1E6C</string>
      <string>uni1E6E</string>
      <string>uni1E70</string>
      <string>uniA68A</string>
      <string>uniA68C</string>
      <string>uniA690</string>
    </array>
    <key>public.kern2.U.smcp</key>
    <array>
      <string>U.smcp</string>
      <string>Uacute.smcp</string>
      <string>Ubreve.smcp</string>
      <string>Ucircumflex.smcp</string>
      <string>Udieresis.smcp</string>
      <string>Ugrave.smcp</string>
      <string>Uhungarumlaut.smcp</string>
      <string>Umacron.smcp</string>
      <string>Uogonek.smcp</string>
      <string>Uring.smcp</string>
      <string>Utilde.smcp</string>
    </array>
    <key>public.kern2.U_UC</key>
    <array>
      <string>U</string>
      <string>Ucaron</string>
      <string>Uogonek</string>
      <string>uni01D5</string>
      <string>uni01D7</string>
      <string>uni01D9</string>
      <string>uni01DB</string>
      <string>uni1E72</string>
      <string>uni1E74</string>
      <string>uni1E76</string>
      <string>uni1E78</string>
      <string>uni1E7A</string>
      <string>uni1EE4</string>
      <string>uni1EE6</string>
    </array>
    <key>public.kern2.Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilondieresis</string>
      <string>Upsilontonos</string>
      <string>Y</string>
      <string>uni024E</string>
      <string>uni04AE</string>
      <string>uni04B0</string>
      <string>uni1E8E</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
      <string>uni1FE8</string>
      <string>uni1FE9</string>
    </array>
    <key>public.kern2.Upsilon.smcp</key>
    <array>
      <string>Upsilon.smcp</string>
      <string>Upsilondieresis.smcp</string>
      <string>Upsilontonos.smcp</string>
      <string>Y.smcp</string>
      <string>Yacute.smcp</string>
      <string>Ycircumflex.smcp</string>
      <string>Ydieresis.smcp</string>
      <string>uni04AE.smcp</string>
      <string>uni04B0.smcp</string>
    </array>
    <key>public.kern2.V_UC</key>
    <array>
      <string>V</string>
      <string>uni0474</string>
      <string>uni0476</string>
      <string>uni1E7C</string>
      <string>uni1E7E</string>
      <string>uniA75E</string>
    </array>
    <key>public.kern2.W.smcp</key>
    <array>
      <string>W.smcp</string>
      <string>Wcircumflex.smcp</string>
    </array>
    <key>public.kern2.W_UC</key>
    <array>
      <string>W</string>
      <string>uni051C</string>
      <string>uni1E86</string>
      <string>uni1E88</string>
      <string>uni2C72</string>
    </array>
    <key>public.kern2.Z_UC</key>
    <array>
      <string>Z</string>
      <string>Zeta</string>
      <string>uni1E90</string>
      <string>uni1E92</string>
      <string>uni1E94</string>
      <string>uni2C6B</string>
      <string>uniA640</string>
      <string>uniA642</string>
    </array>
    <key>public.kern2.a_LC</key>
    <array>
      <string>a</string>
      <string>acaron</string>
      <string>aemacron</string>
      <string>aogonek</string>
      <string>aringacute</string>
      <string>uni01DF</string>
      <string>uni01E1</string>
      <string>uni0201</string>
      <string>uni0203</string>
      <string>uni0227</string>
      <string>uni0430</string>
      <string>uni04D1</string>
      <string>uni04D3</string>
      <string>uni1E01</string>
      <string>uni1E9A</string>
      <string>uni1EA1</string>
      <string>uni1EA3</string>
      <string>uni1EA5</string>
      <string>uni1EA7</string>
      <string>uni1EA9</string>
      <string>uni1EAB</string>
      <string>uni1EAD</string>
      <string>uni1EAF</string>
      <string>uni1EB1</string>
      <string>uni1EB3</string>
      <string>uni1EB5</string>
      <string>uni1EB7</string>
      <string>uni2C65</string>
      <string>uniA733</string>
      <string>uniA735</string>
      <string>uniA737</string>
      <string>uniA739</string>
      <string>uniA73B</string>
      <string>uniA73D</string>
    </array>
    <key>public.kern2.alpha</key>
    <array>
      <string>alpha</string>
      <string>alphatonos</string>
      <string>c</string>
      <string>chook</string>
      <string>d</string>
      <string>dcaron</string>
      <string>e</string>
      <string>eogonek</string>
      <string>eturn</string>
      <string>g</string>
      <string>gbar</string>
      <string>oe</string>
      <string>ohorn</string>
      <string>q</string>
      <string>sigma</string>
      <string>sigma1</string>
      <string>stigma</string>
      <string>uni01C6</string>
      <string>uni01F3</string>
      <string>uni0205</string>
      <string>uni0207</string>
      <string>uni0221</string>
      <string>uni024B</string>
      <string>uni037C</string>
      <string>uni03F2</string>
      <string>uni03F5</string>
      <string>uni0435</string>
      <string>uni0441</string>
      <string>uni0444</string>
      <string>uni0450</string>
      <string>uni0451</string>
      <string>uni0454</string>
      <string>uni0479</string>
      <string>uni047D</string>
      <string>uni0481</string>
      <string>uni04A9</string>
      <string>uni04AB</string>
      <string>uni04D7</string>
      <string>uni04D9</string>
      <string>uni04DB</string>
      <string>uni04E9</string>
      <string>uni0501</string>
      <string>uni0502</string>
      <string>uni0503</string>
      <string>uni050D</string>
      <string>uni051B</string>
      <string>uni1E09</string>
      <string>uni1E0B</string>
      <string>uni1E0D</string>
      <string>uni1E0F</string>
      <string>uni1E11</string>
      <string>uni1E13</string>
      <string>uni1E15</string>
      <string>uni1E17</string>
      <string>uni1E19</string>
      <string>uni1E1B</string>
      <string>uni1E1D</string>
      <string>uni1E21</string>
      <string>uni1EB9</string>
      <string>uni1EBB</string>
      <string>uni1EBD</string>
      <string>uni1EBF</string>
      <string>uni1EC1</string>
      <string>uni1EC3</string>
      <string>uni1EC5</string>
      <string>uni1EC7</string>
      <string>uni1EDB</string>
      <string>uni1EDD</string>
      <string>uni1EDF</string>
      <string>uni1EE3</string>
      <string>uni1F00</string>
      <string>uni1F01</string>
      <string>uni1F02</string>
      <string>uni1F03</string>
      <string>uni1F04</string>
      <string>uni1F05</string>
      <string>uni1F06</string>
      <string>uni1F07</string>
      <string>uni1F80</string>
      <string>uni1F81</string>
      <string>uni1F82</string>
      <string>uni1F83</string>
      <string>uni1F84</string>
      <string>uni1F85</string>
      <string>uni1F86</string>
      <string>uni1F87</string>
      <string>uni1FB0</string>
      <string>uni1FB1</string>
      <string>uni1FB2</string>
      <string>uni1FB3</string>
      <string>uni1FB4</string>
      <string>uni1FB6</string>
      <string>uni1FB7</string>
      <string>uni2C78</string>
      <string>uniA757</string>
      <string>uniA759</string>
      <string>uniA771</string>
      <string>uniA794</string>
      <string>uniAB36</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>uni2025</string>
    </array>
    <key>public.kern2.emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>uni00AD</string>
      <string>uni2015</string>
    </array>
    <key>public.kern2.eta</key>
    <array>
      <string>eta</string>
      <string>etatonos</string>
      <string>m</string>
      <string>n</string>
      <string>napostrophe</string>
      <string>nj</string>
      <string>p</string>
      <string>uni019E</string>
      <string>uni01F9</string>
      <string>uni0235</string>
      <string>uni0377</string>
      <string>uni0433</string>
      <string>uni0438</string>
      <string>uni0439</string>
      <string>uni043A</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni043F</string>
      <string>uni0440</string>
      <string>uni0446</string>
      <string>uni0448</string>
      <string>uni0449</string>
      <string>uni044C</string>
      <string>uni044E</string>
      <string>uni0453</string>
      <string>uni045A</string>
      <string>uni045C</string>
      <string>uni045D</string>
      <string>uni048B</string>
      <string>uni049B</string>
      <string>uni04A3</string>
      <string>uni04A5</string>
      <string>uni04C8</string>
      <string>uni04CA</string>
      <string>uni04CE</string>
      <string>uni04E3</string>
      <string>uni04E5</string>
      <string>uni04F7</string>
      <string>uni04F9</string>
      <string>uni04FB</string>
      <string>uni051F</string>
      <string>uni0523</string>
      <string>uni1E3F</string>
      <string>uni1E41</string>
      <string>uni1E43</string>
      <string>uni1E45</string>
      <string>uni1E47</string>
      <string>uni1E49</string>
      <string>uni1E4B</string>
      <string>uniA657</string>
      <string>uniA667</string>
      <string>uniA68F</string>
      <string>uniA697</string>
      <string>uniA773</string>
      <string>uniA774</string>
      <string>uniAB3A</string>
      <string>uniAB3B</string>
      <string>uniAB3C</string>
      <string>uniAB51</string>
    </array>
    <key>public.kern2.gamma</key>
    <array>
      <string>gamma</string>
      <string>nu</string>
      <string>uni0443</string>
      <string>uni045E</string>
      <string>uni0475</string>
      <string>uni0477</string>
      <string>uni04AF</string>
      <string>uni04EF</string>
      <string>uni04F1</string>
      <string>uni04F3</string>
      <string>uni1E7D</string>
      <string>uni1E7F</string>
      <string>uni1E8F</string>
      <string>uni1E99</string>
      <string>uni1EF5</string>
      <string>uni1EF7</string>
      <string>uni1EF9</string>
      <string>uni2C71</string>
      <string>v</string>
      <string>y</string>
    </array>
    <key>public.kern2.minute</key>
    <array>
      <string>minute</string>
      <string>quotedbl</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quotereversed</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>second</string>
      <string>uni02BC</string>
    </array>
    <key>public.kern2.o_LC</key>
    <array>
      <string>o</string>
      <string>obar</string>
      <string>ocaron</string>
      <string>omicron</string>
      <string>omicrontonos</string>
      <string>oogonek</string>
      <string>uni01ED</string>
      <string>uni020D</string>
      <string>uni020F</string>
      <string>uni022B</string>
      <string>uni022D</string>
      <string>uni022F</string>
      <string>uni0231</string>
      <string>uni03D9</string>
      <string>uni043E</string>
      <string>uni0473</string>
      <string>uni04E7</string>
      <string>uni04EB</string>
      <string>uni1E4D</string>
      <string>uni1E4F</string>
      <string>uni1E51</string>
      <string>uni1E53</string>
      <string>uni1ECD</string>
      <string>uni1ECF</string>
      <string>uni1ED1</string>
      <string>uni1ED3</string>
      <string>uni1ED5</string>
      <string>uni1ED7</string>
      <string>uni1ED9</string>
      <string>uni1EE1</string>
      <string>uni1F40</string>
      <string>uni1F41</string>
      <string>uni1F42</string>
      <string>uni1F43</string>
      <string>uni1F44</string>
      <string>uni1F45</string>
      <string>uni1F78</string>
      <string>uni1F79</string>
      <string>uni2C7A</string>
      <string>uniA655</string>
      <string>uniA669</string>
      <string>uniA66B</string>
      <string>uniA66D</string>
      <string>uniA699</string>
      <string>uniA74D</string>
      <string>uniA74F</string>
    </array>
    <key>public.kern2.s_LC</key>
    <array>
      <string>s</string>
      <string>st</string>
      <string>uni023F</string>
      <string>uni0455</string>
      <string>uni1E61</string>
      <string>uni1E63</string>
      <string>uni1E65</string>
      <string>uni1E67</string>
      <string>uni1E69</string>
    </array>
    <key>public.kern2.u_LC</key>
    <array>
      <string>u</string>
      <string>ucaron</string>
      <string>uhorn</string>
      <string>uni01D6</string>
      <string>uni01D8</string>
      <string>uni01DA</string>
      <string>uni01DC</string>
      <string>uni0215</string>
      <string>uni0217</string>
      <string>uni1E73</string>
      <string>uni1E75</string>
      <string>uni1E77</string>
      <string>uni1E79</string>
      <string>uni1E7B</string>
      <string>uni1EE5</string>
      <string>uni1EE7</string>
      <string>uni1EE9</string>
      <string>uni1EEB</string>
      <string>uni1EED</string>
      <string>uni1EEF</string>
      <string>uni1EF1</string>
      <string>uni1F50</string>
      <string>uni1F51</string>
      <string>uni1F52</string>
      <string>uni1F53</string>
      <string>uni1F54</string>
      <string>uni1F55</string>
      <string>uni1F56</string>
      <string>uni1F57</string>
      <string>uni1F7A</string>
      <string>uni1F7B</string>
      <string>uni1FE0</string>
      <string>uni1FE1</string>
      <string>uni1FE2</string>
      <string>uni1FE3</string>
      <string>uogonek</string>
      <string>upsilon</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
      <string>upsilontonos</string>
    </array>
    <key>public.kern2.uni0409</key>
    <array>
      <string>uni0409</string>
      <string>uni041B</string>
      <string>uni04C5</string>
      <string>uni0508</string>
      <string>uni0512</string>
      <string>uni0514</string>
      <string>uni0520</string>
    </array>
    <key>public.kern2.uni040E</key>
    <array>
      <string>uni040E</string>
      <string>uni0423</string>
      <string>uni04EE</string>
      <string>uni04F0</string>
      <string>uni04F2</string>
    </array>
    <key>public.kern2.uni0427</key>
    <array>
      <string>uni0427</string>
      <string>uni04B6</string>
      <string>uni04CB</string>
      <string>uni04F4</string>
      <string>uniA686</string>
    </array>
    <key>public.kern2.uni043B</key>
    <array>
      <string>uni043B</string>
      <string>uni0459</string>
      <string>uni04C6</string>
      <string>uni0513</string>
      <string>uni0515</string>
      <string>uni0521</string>
    </array>
    <key>public.kern2.uni0447</key>
    <array>
      <string>uni0447</string>
      <string>uni04B7</string>
      <string>uni04CC</string>
      <string>uni04F5</string>
      <string>uniA687</string>
    </array>
    <key>public.kern2.x_LC</key>
    <array>
      <string>x</string>
      <string>uni0436</string>
      <string>uni0445</string>
      <string>uni0497</string>
      <string>uni04B3</string>
      <string>uni04C2</string>
      <string>uni04DD</string>
      <string>uni04FD</string>
      <string>uni1E8B</string>
      <string>uni1E8D</string>
    </array>
    <key>public.kern2.z_LC</key>
    <array>
      <string>z</string>
      <string>zbar</string>
      <string>uni0240</string>
      <string>uni1E91</string>
      <string>uni1E93</string>
      <string>uni1E95</string>
      <string>uni2C6C</string>
      <string>uniA641</string>
      <string>uniA643</string>
    </array>
  </dict>
</plist>
